:root {
  --font-family-Helvetica: "HelveticaNeue", sans-serif;
  --font-family-Alumni: "AlumniSans", sans-serif;
  --bg-color: #e5e5e5;
  --light-color: #ffffff;
  --text-black: #2c2c2c;
  --main-red: #a12b4e;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "AlumniSans";
  src: url("../fonts/../fonts/AlumniSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "AlumniSans";
  src: url("../fonts/../fonts/AlumniSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "AlumniSans";
  src: url("../fonts/../fonts/AlumniSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/../fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/../fonts/HelveticaNeueCyr-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  outline: none;
  outline-style: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body,
html {
  height: 100%;
}

.page {
  background-color: #f2f2f2;
  height: 100%;
  font-family: var(--font-family-Helvetica, sans-serif);
  color: var(--text-black);
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

.page__body {
  height: 100%;
}

.site-container {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  max-width: 93.3vw;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 11.51vw;
  height: 2.396vw;
  font-size: 0.938vw;
  border: 1px solid var(--main-red);
  border-radius: 2.76vw;
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
@media (min-width: 1200px) {
  .btn-primary:hover {
    color: var(--light-color);
    background-color: var(--main-red);
  }
}

.slider-btns {
  position: absolute;
  bottom: 1.563vw;
  right: 3.125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}

.slider-prev,
.slider-next {
  width: 2.5vw;
  height: 2.552vw;
  border: 1px solid var(--light-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
.slider-prev svg,
.slider-next svg {
  width: 0.938vw;
  height: 0.625vw;
  fill: var(--light-color);
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
@media (min-width: 1200px) {
  .slider-prev:hover,
  .slider-next:hover {
    background-color: var(--main-red);
    border: transparent;
  }
  .slider-prev:hover svg,
  .slider-next:hover svg {
    fill: var(--light-color) !important;
  }
}

.slider-prev {
  margin-right: 1.042vw;
}

.social__wrapper {
  position: fixed;
  top: 37%;
  right: 1.3vw;
  z-index: 10;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.042vw;
}

.social__link {
  width: 2.604vw;
  height: 2.604vw;
  border-radius: 2.604vw;
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  background-color: #f5f5f5;
  float: left;
  overflow: hidden;
}

.social__title {
  display: block;
  font-size: 0.729vw;
  line-height: 1.146vw;
  font-weight: 400;
  color: var(--light-color);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  white-space: nowrap;
}

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 2.604vw;
  height: 2.604vw;
  background-color: #f5f5f5;
  border-radius: 2.604vw;
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.social__icon svg {
  width: 1.406vw;
  height: 1.406vw;
  fill: #3f3f3f;
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

@media (min-width: 1200px) {
  .social__link--phone:hover {
    height: 9.167vw;
    background: #a12b4e;
  }
  .social__link--phone:hover .social__icon {
    background: #a12b4e;
  }
  .social__link--phone:hover .social__icon svg {
    fill: var(--light-color);
  }
  .social__link--mail:hover {
    height: 8.281vw;
    background: #a12b4e;
  }
  .social__link--mail:hover .social__icon {
    background: #a12b4e;
  }
  .social__link--mail:hover .social__icon svg {
    fill: var(--light-color);
  }
  .social__link--whatsapp:hover {
    height: 6.979vw;
    background: #4ba586;
  }
  .social__link--whatsapp:hover .social__icon {
    background: #4ba586;
  }
  .social__link--whatsapp:hover .social__icon svg {
    fill: var(--light-color);
  }
  .social__link--telegram:hover {
    height: 6.615vw;
    background: #419fd9;
  }
  .social__link--telegram:hover .social__icon {
    background: #419fd9;
  }
  .social__link--telegram:hover .social__icon svg {
    fill: var(--light-color);
  }
}
.social__link--phone .social__title {
  margin-top: 3.7vw;
}

.social__link--mail .social__title {
  margin-top: 3vw;
}

.social__link--whatsapp .social__title {
  margin-top: 1.3vw;
}

.social__link--telegram .social__title {
  margin-top: 1vw;
}

.modal__container {
  width: 56.406vw;
  padding: 0;
  border-radius: 1.042vw;
  margin: 2.604vw auto;
  overflow: hidden;
}

.modal-close {
  width: 1vw;
  height: 1vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 1.198vw;
  right: 1.198vw;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--main-red);
}
.modal-content__title {
  white-space: nowrap;
  color: var(--light-color);
  font-size: 3.385vw;
  font-weight: 500;
  line-height: 2.865vw;
  font-family: var(--font-family-Alumni);
  margin-bottom: 0.781vw;
  text-transform: uppercase;
}
.modal-content__text {
  width: 18.021vw;
  color: var(--light-color);
  font-size: 0.938vw;
  line-height: 1.458vw;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.354vw;
}
.modal-content__text span {
  font-weight: 700;
}
.modal-content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 28.229vw;
  padding: 5.208vw 1.719vw;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.modal-content__image img {
  display: block;
  height: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 18.021vw;
}
.form__label {
  width: 100%;
}
.form__label svg {
  width: 0.781vw;
  height: 0.781vw;
  fill: var(--light-color);
}
.form__label:not(:last-of-type) {
  margin-bottom: 1.563vw;
}
.form__label:last-of-type {
  margin-bottom: 2.083vw;
}
.form__input {
  width: 100%;
  padding: 0 0 0.625vw 2vw;
  background-position: left 0;
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.41);
  color: var(--light-color);
}
.form__input::-webkit-input-placeholder {
  margin-left: 2vw;
  font-size: 0.781vw;
  line-height: 1.302vw;
  font-weight: 300;
  color: var(--light-color);
  text-align: center;
  opacity: 0.6;
}
.form__input::-moz-placeholder {
  margin-left: 2vw;
  font-size: 0.781vw;
  line-height: 1.302vw;
  font-weight: 300;
  color: var(--light-color);
  text-align: center;
  opacity: 0.6;
}
.form__input:-ms-input-placeholder {
  margin-left: 2vw;
  font-size: 0.781vw;
  line-height: 1.302vw;
  font-weight: 300;
  color: var(--light-color);
  text-align: center;
  opacity: 0.6;
}
.form__input::-ms-input-placeholder {
  margin-left: 2vw;
  font-size: 0.781vw;
  line-height: 1.302vw;
  font-weight: 300;
  color: var(--light-color);
  text-align: center;
  opacity: 0.6;
}
.form__input::placeholder {
  margin-left: 2vw;
  font-size: 0.781vw;
  line-height: 1.302vw;
  font-weight: 300;
  color: var(--light-color);
  text-align: center;
  opacity: 0.6;
}
.form__input--user {
  background-image: url("../img/user.svg");
}
.form__input--phone {
  background-image: url("../img/phone.svg");
}
.form__btn {
  width: 100%;
  height: 2.604vw;
  font-weight: 700;
  font-size: 0.833vw;
  line-height: 0.938vw;
  color: var(--light-color);
  border-color: var(--light-color);
  margin-bottom: 1.563vw;
}
.form__text {
  width: 20.833vw;
  font-size: 0.729vw;
  line-height: 1.25vw;
  color: var(--light-color);
  text-align: center;
}

.modal-feedback .modal-content {
  background-color: var(--text-black);
}
.modal-feedback .form__textarea {
  width: 100%;
  height: 7.604vw;
  padding: 0.885vw 0.99vw;
  color: #737272;
  font-size: 0.781vw;
  line-height: 1.823vw;
  background: #ebebeb;
  border: 1px solid #a9a9a9;
  border-radius: 0.521vw;
  resize: none;
}

.main-offset {
  padding-bottom: 2.604vw;
}

.page-title {
  font-family: var(--font-family-Alumni);
  font-size: 5.729vw;
  line-height: 4.688vw;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.667vw 0vw;
  background-color: #f2f2f2;
  z-index: 3;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.header__container::after {
  content: "";
  position: absolute;
  top: -1.3vw;
  right: -2.65vw;
  width: 6.719vw;
  height: 8.854vw;
  background-image: url("../img/header-decor-right.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.header__container::before {
  content: "";
  position: absolute;
  top: -1.3vw;
  left: -2.65vw;
  width: 6.719vw;
  height: 8.854vw;
  background-image: url("../img/header-decor-left.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.header__logo {
  margin-left: 15.573vw;
  margin-right: 21.042vw;
  width: 12.135vw;
  height: auto;
}
.header__btn {
  margin-right: 4.5vw;
}

.nav {
  position: relative;
  z-index: 2;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 2.11vw;
}
.nav__link {
  font-size: 1.042vw;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.lang svg {
  width: 1.25vw;
  height: 1.25vw;
}
.lang span {
  font-size: 0.729vw;
}

.hero {
  padding-top: 5vw;
  height: 100vh;
  position: relative;
}
.hero__container {
  height: 100%;
  border-radius: 1.042vw;
  overflow: hidden;
}
.hero__title {
  font-family: var(--font-family-Alumni);
  color: var(--light-color);
  font-weight: 500;
  font-size: 7.292vw;
  line-height: 6.25vw;
}
.hero__subtitle {
  font-weight: 700;
  font-size: 2.604vw;
  line-height: 3.125vw;
  color: var(--main-red);
  position: relative;
  right: 5vw;
  top: -0.28vw;
}
.hero__text {
  color: var(--light-color);
  font-weight: 300;
  font-size: 1.771vw;
  line-height: 2.083vw;
}

.hero .swiper {
  margin-right: 0;
  height: 100%;
}

.hero-swiper {
  width: 100%;
  height: 100%;
}
.hero-bg {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}
.hero-bg::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.hero-bg img {
  height: 100%;
  width: 100%;
  -webkit-animation: bg-scale 10s ease-in infinite;
  animation: bg-scale 10s ease-in infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.hero-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 38.75vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 12;
}
.hero-content__wrapper {
  padding: 1.563vw 3.125vw 7.813vw 3.125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.781vw;
}
.hero-content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.hero .swiper-pagination-bullet {
  width: 0.893vw;
  height: 0.313vw;
  border-radius: 0.781vw;
  background-color: var(--light-color);
  opacity: 1;
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.hero .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.hero .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0.325vw);
}
.hero .swiper-pagination-bullet-active {
  width: 2.76vw;
  height: 0.313vw;
  border-radius: 0.804vw;
  background-color: var(--main-red);
}
.hero .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 2.604vw;
  right: 24.7vw;
  left: auto;
  width: auto;
}

@-webkit-keyframes bg-scale {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes bg-scale {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.products {
  overflow: hidden;
  height: 100%;
}
.products__container {
  background-color: var(--light-color);
  border-radius: 1.042vw;
  height: 100%;
}

.products-descr {
  display: none;
}

.bottle {
  display: block;
  height: 33vw;
  width: auto;
  fill: transparent;
}

.bottle1 {
  position: relative;
  stroke: rgba(161, 43, 78, 0.7);
  stroke-width: 0.365vw;
}

.bottle2 {
  position: absolute;
  top: 0;
  left: 0;
  stroke-width: 0.22vw;
  stroke: rgba(161, 43, 78, 0.3);
}

.bottle3 {
  position: absolute;
  top: 0;
  left: 0;
  stroke-width: 0.22vw;
  stroke: rgba(161, 43, 78, 0.2);
}

.bottle4 {
  position: absolute;
  top: 0;
  left: 0;
  stroke-width: 0.22vw;
  stroke: rgba(161, 43, 78, 0.1);
}

.products-swiper {
  position: relative;
  top: 35%;
}
.products-swiper__content {
  padding-top: 3vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}
.products-swiper__top {
  width: 14.635vw;
  height: 13.594vw;
  margin: 0 auto;
}
.products-swiper__circle {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  background-color: #f2f2f2;
  width: 14.063vw;
  height: 10.052vw;
  border-radius: 50%;
  -webkit-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}
.products-swiper__wrapper {
  height: 100%;
  width: 100%;
}
.products-swiper__wrapper img {
  display: block;
  margin: 0 auto;
  -webkit-transform: translateY(-3vw);
  -ms-transform: translateY(-3vw);
  transform: translateY(-3vw);
  width: auto;
  height: 12.135vw;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  position: relative;
  z-index: 1;
}
.products-swiper__circle-red {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.063vw;
  height: 10.052vw;
  background-color: var(--main-red);
  border-radius: 50%;
  -webkit-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  opacity: 0;
  visibility: hidden;
}
.products-swiper__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.146vw;
  text-align: center;
  -webkit-transform: translate(15%, 15%);
  -ms-transform: translate(15%, 15%);
  transform: translate(15%, 15%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}
.products-swiper__title {
  font-family: var(--font-family-Alumni);
  font-weight: 500;
  font-size: 2.646vw;
  line-height: 3.646vw;
  color: var(--main-red);
  text-transform: uppercase;
}
.products-swiper__item:not(:last-child) {
  margin-bottom: 0.521vw;
}
.products-swiper .slider-btns {
  position: absolute;
  right: 3.125vw;
  bottom: 0;
}
.products-swiper .slider-prev,
.products-swiper .slider-next {
  border-color: var(--text-black);
}
.products-swiper .slider-prev svg,
.products-swiper .slider-next svg {
  fill: var(--text-black);
}

.products-swiper__slide.swiper-slide-active .products-swiper__bottom {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.products-swiper__slide.swiper-slide-active .products-swiper__wrapper img {
  width: auto;
  height: 18.25vw;
  -webkit-transform: translateY(-7vw);
  -ms-transform: translateY(-7vw);
  transform: translateY(-7vw);
}

.products-swiper__slide.swiper-slide-active .products-swiper__circle {
  width: 21.25vw;
  height: 15.156vw;
  background-color: #e2b9c5;
  -webkit-transform: translate(-15%, -30%);
  -ms-transform: translate(-15%, -30%);
  transform: translate(-15%, -30%);
}

.products-swiper__slide.swiper-slide-active .products-swiper__circle-red {
  width: 21.25vw;
  height: 15.156vw;
  top: -0.5vw;
  left: -0.3vw;
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=main.css.map */