@include tablet {
  .about-hero {
    padding-top: 12vw;

    &__container {
      border-radius: 2.604vw;

      &::after {
        height: 95.703vw;
      }
    }

    &__content {
      gap: 1.302vw;
      bottom: 0;
      right: 0;
      width: 100%;
      padding: 0 3.906vw 15vh;
    }

    &__title {
      font-size: 14.323vw;
      line-height: 13.021vw;
    }

    &__subtitle {
      font-size: 6.51vw;
      line-height: 7.813vw;
    }

    &__text {
      font-size: 4.427vw;
      line-height: 5.208vw;
    }
  }
}
