@include tablet {
  .category {
    padding-top: 11vw;

    .breadcrumbs {
      .breadcrumbs__link {
        font-size: 1.823vw;
        line-height: 2.344vw;
        svg {
          width: 1.563vw;
          height: 1.563vw;
        }
      }
    }

    .catalog-content__title {
      gap: 0.651vw;
      align-items: flex-start;
      h1 {
        font-size: 6.51vw;
        line-height: 6.51vw;
      }
      h3 {
        display: block;
        font-family: var(--font-family-Helvetica);
        font-weight: 300;
        text-transform: none;
        font-size: 2.344vw;
        line-height: 3.125vw;
      }
    }

    .catalog-content {
      min-height: 25vw;

      border-radius: 2.604vw;
      margin-bottom: 3.906vw;

      &__download {
        gap: 1.172vw;

        svg {
          width: 1.563vw;
          height: 2.083vw;
        }

        a {
          font-size: 2.344vw;
          line-height: 3.385vw;
          border-bottom: 1px dashed #ffffff7d;
        }
      }

      &__descr {
        width: 100%;
        padding: 2.8vw 3.255vw;
      }

      &__title {
        font-size: 6.51vw;
        line-height: 6.51vw;
      }

      &__image {
        display: none;
      }
    }
  }

  .category-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.953vw;
    grid-row-gap: 1.953vw;
  }

  .catalog-slide:not(:last-child) {
    margin-right: 2.604vw;
  }

  .catalog-slide__item {
    border-radius: 2.604vw;
  }

  .catalog-slide__image {
    height: 22vw;
  }
}

@include mobile {
  .category {
    padding-top: 24.5vw;

    .breadcrumbs {
      .breadcrumbs__item-main {
        display: none;
      }

      .breadcrumbs__item-back {
        display: block;
        svg {
          transform: rotate(90deg);
        }
      }

      .breadcrumbs__link {
        display: flex;
        align-items: center;
        gap: 1.5vw;
        font-size: 3.733vw;
        line-height: 4.8vw;
        svg {
          width: 3vw;
          height: 3.6vw;
          fill: var(--light-color);
        }
      }
    }

    .catalog-content__title {
      gap: 2.441px;
      h1 {
        font-size: 8.533vw;
        line-height: 8.533vw;
      }
      h3 {
        display: none;
      }
    }

    .catalog-content {
      min-height: 48vw;

      border-radius: 2.667vw;
      margin-bottom: 8vw;

      &__download {
        gap: 1.333vw;

        svg {
          width: 4vw;
          height: 4vw;
        }

        a {
          font-size: 4.267vw;
          line-height: 5vw;
          border-bottom: 0.5vw dashed #ffffff7d;
        }
      }

      &__descr {
        padding: 5.867vw 4vw;
      }

      &__image {
        display: none;
      }
    }
  }

  .category-list {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 5.6vw;
  }

  .catalog-slide__item {
    border-radius: 5.333vw;
  }

  .catalog-slide__image {
    height: 37vw;
  }
}
