.clients {
  &__container {
    position: relative;
    background-color: var(--light-color);
    border-radius: 1.042vw;
    padding: 4.5vw 3vw 6.8vw;
    overflow: hidden;
  }

  &__title {
    margin-bottom: 2.5vw;
  }

  &__text {
    width: 51vw;
    margin-bottom: 5.729vw;
    font-size: 1.25vw;
    line-height: 1.771vw;
    span {
      font-weight: 700;
    }
  }

  &__bg {
    display: block;
    position: absolute;
    right: 0vw;
    bottom: -2.5vw;
    width: 28vw;
    height: 37vw;
  }
}

//carousel
.carousel {
  position: relative;
  overflow: visible;
  height: 9.375vw;
  z-index: 1;
}

.clients-carousel {
  position: relative;
  display: flex;
  align-items: center;
  //width: 100vw;
}

.clients-carousel__wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.clients-carousel__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.375vw;
  width: 17.813vw;
  background: rgba(246, 247, 248, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(4.992px);
  border-radius: 0.781vw;

  img {
    height: 5.365vw;
    width: auto;
    object-fit: contain;
  }
}
