@include tablet {
  .contacts {
    padding-top: 12vw;
    &__container {
      border-radius: 2.604vw;
      flex-direction: column;
      height: 100%;
    }

    .breadcrumbs {
      margin-bottom: 3.125vw;
      .breadcrumbs__item-main {
        padding-right: 1.5vw;
        margin-right: 1.5vw;
      }

      .breadcrumbs__link {
        font-size: 2.083vw;
        line-height: 2.344vw;
        svg {
          width: 1.8vw;
          height: 1.8vw;
        }
      }
    }

    &__title {
      font-size: 6.511vw;
      line-height: 5.209vw;
      margin-bottom: 4.427vw;
    }

    &__content {
      padding: 6.51vw 5.208vw;
    }

    &__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 4.688vw;
    }
  }

  .contacts-item {
    gap: 1.302vw;
    &__title {
      font-size: 4.167vw;
      line-height: 3.255vw;
    }

    &__link {
      gap: 1.302vw;
      font-size: 2.083vw;
      line-height: 3.125vw;
      svg {
        width: 2.344vw;
        height: 2.344vw;
      }
    }
  }

  .contacts-map {
    width: 100%;
    height: 63.932vw;
    margin: 0;
  }
}
