@include tablet {
  .description {
    &__container {
      gap: 5.208vw;
      border-radius: 2.604vw;
    }
  }

  .about-company {
    border-radius: 2.604vw;
    &__content {
      width: 50%;
      padding: 6.51vw 4.297vw;
    }

    &__title {
      font-size: 6.51vw;
      line-height: 5.208vw;
      margin-bottom: 1.563vw;
    }

    &__text {
      font-size: 2.083vw;
      line-height: 3.125vw;

      &:not(:last-of-type) {
        margin-bottom: 1.953vw;
      }
    }

    &__image {
      width: 50%;
      min-height: 65vw;
    }

    &__bottom {
      margin-left: 10vw;
      margin-top: 1.953vw;
      gap: 3.906vw;

      .about-company__text {
        font-size: 2vw;
      }
    }

    &__btn {
      width: 100%;
      height: 7.161vw;
      font-size: 2.083vw;
      line-height: 2.604vw;
    }

    &__bg {
      left: -27.5vw;
      bottom: -7vw;
      width: 44.01vw;
      height: 38vw;
      img {
        object-fit: contain;
      }
    }
  }
}

@include mobile {
  .description {
    &__container {
      gap: 8vw;
      border-radius: 5.333vw;
    }
  }

  .about-company {
    border-radius: 5.333vw;
    flex-direction: column;

    &:first-child &__image {
      display: none;
    }

    &:last-child &__image {
      display: none;
    }

    &__content {
      width: 100%;
      padding: 13.333vw 4.533vw;
    }

    &__title {
      font-size: 13.333vw;
      line-height: 10.667vw;
      margin-bottom: 3.2vw;
    }

    &__text {
      font-size: 3.733vw;
      line-height: 5.867vw;

      &:not(:last-of-type) {
        margin-bottom: 1vw;
      }
    }

    &__image {
      width: 100%;
      height: 82.667vw;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__bottom {
      margin-left: 30vw;
      margin-top: 6.667vw;
      gap: 5.333vw;

      .about-company__text {
        font-size: 3.733vw;
        line-height: 5.867vw;
      }
    }

    &__btn {
      height: 11.2vw;
      font-size: 4.267vw;
      line-height: 5.333vw;
    }

    &__bg {
      left: -32vw;
      bottom: -10vw;
      width: 60vw;
      height: 62vw;
    }
  }
}
