@include tablet {
  .description {
    &__container {
      gap: 5.208vw;
      border-radius: 2.604vw;
    }
  }

  .about-company {
    border-radius: 2.604vw;
    &__content {
      width: 50%;
      padding: 6.51vw 4.297vw;
    }

    &__title {
      font-size: 6.51vw;
      line-height: 5.208vw;
      margin-bottom: 1.563vw;
    }

    &__text {
      font-size: 2.083vw;
      line-height: 3.125vw;

      &:not(:last-of-type) {
        margin-bottom: 1.953vw;
      }
    }

    &__image {
      width: 50%;
      min-height: 65vw;
    }

    &__bottom {
      margin-left: 10vw;
      margin-top: 1.953vw;
      gap: 3.906vw;

      .about-company__text {
        font-size: 2vw;
      }
    }

    &__btn {
      width: 100%;
      height: 7.161vw;
      font-size: 2.083vw;
      line-height: 2.604vw;
    }

    &__bg {
      left: -27.5vw;
      bottom: -7vw;
      width: 44.01vw;
      height: 38vw;
      img {
        object-fit: contain;
      }
    }
  }
}
