.description {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.604vw;
    border-radius: 1.042vw;
    overflow: hidden;
  }
}

.about-company {
  display: flex;
  background-color: var(--light-color);
  border-radius: 1.042vw;
  overflow: hidden;
  &__content {
    width: 50%;
    padding: 2.344vw 2.969vw;
  }

  &__content--bg {
    position: relative;
    z-index: 1;
  }

  &__title {
    text-transform: uppercase;
    font-family: var(--font-family-Alumni);
    font-weight: 500;
    font-size: 3.646vw;
    line-height: 4.167vw;
    margin-bottom: 0.6vw;
  }

  &__text {
    font-size: 1.25vw;
    line-height: 1.771vw;
    font-weight: 300;
    span {
      font-weight: 700;
    }

    &:not(:last-of-type) {
      margin-bottom: 0.9vw;
    }
  }

  &__image {
    width: 50%;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__bottom {
    margin-left: 18vw;
    margin-top: 3.5vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }

  &__btn {
    width: 12.5vw;
    height: 2.865vw;
  }

  &__bg {
    position: absolute;
    left: -6.5vw;
    bottom: -10.5vw;
    width: auto;
    height: 30vw;
    opacity: 0.7;
    z-index: 1;
  }
}
