@include tablet {
  .feedback {
    &__container {
      border-radius: 2.604vw;
    }

    &__wrapper {
      width: 74vw;
      margin: 0 auto;
    }
  }

  .feedback-content {
    &__form {
      padding: 8.464vw 4.167vw 9.115vw;
    }

    &__title {
      font-size: 8.464vw;
      line-height: 7.161vw;
    }

    &__text {
      font-size: 2.344vw;
      line-height: 3.646vw;
      margin-bottom: 3.385vw;
      width: 47vw;
    }

    .form {
      width: 45.052vw;
      &__label {
        &:not(:last-child) {
          margin-bottom: 3.906vw;
        }

        &:last-of-type {
          margin-bottom: 5.208vw;
        }
      }

      &__input {
        padding: 1vw 0 2.5vw 1vw;
        background-size: 2.5vw;
        background-position: 0 0.5vw;
        &::placeholder {
          font-size: 1.953vw;
          line-height: 3.255vw;
        }
      }

      &__btn {
        width: 100%;
        margin-bottom: 3.906vw;
      }

      &__text {
        font-weight: 300;
        font-size: 1.823vw;
        line-height: 3.125vw;
        width: 46vw;
      }
    }
  }

  //barrel-decoration
  .barrel-decor {
    display: none;
  }

  .barrel-decor__shadow {
    display: none;
  }
}

@include mobile {
  .feedback {
    &__container {
      border-radius: 5.333vw;
    }

    &__wrapper {
      width: 100%;
    }
  }

  .feedback-content {
    &__form {
      width: 100% !important;
      padding: 19.733vw 4.533vw !important;
    }

    &__title {
      font-size: 8.533vw !important;
      line-height: 8vw !important;
    }

    &__text {
      font-size: 4.267vw !important;
      line-height: 6.933vw !important;
      margin-bottom: 8.533vw !important;
      width: 82vw !important;
    }

    .form {
      width: 100%;

      &__label {
        &:not(:last-child) {
          margin-bottom: 4.267vw;
        }

        &:last-of-type {
          margin-bottom: 8.533vw;
        }
      }

      &__input {
        padding: 2vw 0 3.5vw 0vw;
        background-size: 4vw;
        background-position: 0 1vw;
        &::placeholder {
          font-size: 4vw;
          line-height: 6.667vw;
        }
      }

      &__btn {
        height: 12.267vw;
        margin-bottom: 5.333vw;
        font-weight: 700;
        font-size: 4.267vw;
        line-height: 4.8vw;
      }

      &__text {
        font-size: 3.2vw;
        line-height: 5.333vw;
        width: 63vw;
      }
    }
  }

  //barrel-decoration
  .barrel-decor {
    display: none;
  }

  .barrel-decor__shadow {
    display: none;
  }
}
