.header {
   padding: 1.667vw 0vw;
  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin: 0 auto;
    width: 12.135vw;
    height: auto;
  }

  &__btn {
    margin-right: 4.479vw;
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 2.083vw;
    }
  }

  &__link {
    font-size: 1.042vw;
  }
}

.lang {
  display: flex;
  align-items: center;
  svg {
    width: 1.25vw;
    height: 1.25vw;
  }

  span {
    font-size: 0.729vw;
  }
}
