.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.667vw 0vw;
  background-color: #f2f2f2;
  z-index: 100;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -1.3vw;
      right: -2.65vw;
      width: 6.719vw;
      height: 8.854vw;
      background-image: url("../img/header-decor-right.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &::before {
      content: "";
      position: absolute;
      top: -1.3vw;
      left: -2.65vw;
      width: 6.719vw;
      height: 8.854vw;
      background-image: url("../img/header-decor-left.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__logo {
    margin-left: 15.573vw;
    margin-right: 21.042vw;
    width: 12.135vw;
    height: auto;
  }

  &__logo-mob {
    display: none;
  }

  &__btn {
    margin-right: 4.5vw;
    svg {
      display: none;
    }
  }
}

.nav {
  position: relative;
  z-index: 2;
  &__list {
    display: flex;
    gap: 2.11vw;
  }

  &__link {
    font-size: 1.042vw;
    transition: all 0.25s ease-in;
    @include for-desktop {
      &:hover {
        color: var(--main-red);
      }
    }
  }

  &__list-mob {
    display: none;
  }
}

.lang {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
  svg {
    width: 1.25vw;
    height: 1.25vw;
  }

  span {
    font-size: 0.729vw;
  }
}

.dis-offset {
  padding-right: 17px !important;
}

.burger {
  display: none;
}
