@include tablet {
  //!burger
  .burger {
    @include burger;
    display: block;
    width: 5.208vw;
    height: 3.516vw;
    position: relative;
    z-index: 10;

    &::before,
    &::after,
    &__line {
      border-radius: 1.432vw;
      background-color: var(--text-black);
    }

    &::after {
      transition: all 0.3s ease-in-out;
    }

    &::before {
      width: 100%;
      height: 0.391vw;
    }

    &__line {
      width: 3.776vw;
      height: 0.391vw;
      background-color: var(--main-red);
    }

    &::after {
      width: 100%;
      height: 0.391vw;
    }
  }

  //!header
  .header {
    padding: 3.385vw 0vw;
    &__container {
      &::after {
        top: 0.38vw;
        right: -5.1vw;
        width: 13.021vw;
        height: 10.854vw;
      }
      &::before {
        top: 0.38vw;
        left: -5.1vw;
        width: 13.021vw;
        height: 10.854vw;
      }
    }

    &__logo {
      margin-left: auto;
      margin-right: 25vw;
      width: 25vw;
      height: auto;
      transform: translateY(0.5vw);
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__logo-mob {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--light-color);
      position: absolute;
      top: 4vw;
      left: 50%;
      transform: translateX(-50%);
      width: 19.922vw;
      height: auto;
      z-index: 3;
      img {
        width: 100%;
        height: auto;
      }
    }

    &__btn {
      margin-right: 0;
      width: 10.286vw !important;
      height: 3.646vw !important;
      position: relative;
      z-index: 1;
      span {
        display: none;
      }
      svg {
        display: block;
        width: 2.214vw;
        height: 2.214vw;
      }
    }
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    overflow: auto;

    &__list-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 53.776vw;
      min-height: 100vh;
      padding: 15vh 0 0;

      background-color: var(--light-color);

      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3.906vw;
      margin-bottom: 6.51vw;
    }

    &__list-mob {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 4.427vw;
    }

    &__link {
      font-weight: 400;
      font-size: 2.604vw;
      line-height: 2.995vw;
    }

    //!feedback
    .feedback-content {
      width: 100%;
      border-radius: 2.604vw 2.604vw 0vw 0vw;
      padding: 5vw 6.8vw;

      &__form {
        padding: 0;
        width: 100%;
      }

      &__title {
        font-size: 5.469vw;
      }

      &__text {
        font-size: 2.083vw;
        line-height: 3.385vw;
      }

      .form {
        width: 100%;

        &__label:not(:last-child) {
          margin-bottom: 2.083vw;
        }

        &__label:last-of-type {
          margin-bottom: 4.167vw;
        }

        &__input {
          padding: 2vw 0vw 2vw 2vw;
          background-size: 2.604vw;
          background-position: 0 1.5vw;
        }
        &__input::placeholder {
          font-size: 1.953vw;
          line-height: 3.255vw;
        }

        &__btn {
          width: 100%;
          height: 6.51vw;
          font-size: 2.083vw;
          line-height: 2.344vw;
          border-radius: 6.901vw;
          margin-bottom: 2.083vw;
        }

        &__text {
          font-size: 1.563vw;
          line-height: 2.604vw;
        }
      }
    }
  }

  .mob-connect {
    display: flex;
    flex-direction: column;
    gap: 0.651vw;
    &__item {
      display: flex;
      align-items: center;
      gap: 1.432vw;

      svg {
        width: 2.604vw;
        height: 2.604vw;
      }
      span {
        font-weight: 400;
        font-size: 2.344vw;
        line-height: 3.385vw;
      }
    }
  }

  .lang {
    svg {
      width: 2vw;
      height: 2vw;
    }

    span {
      font-size: 1.823vw;
    }
  }

  .hide-backdrop-filter {
    backdrop-filter: none;
  }

  .menu--active {
    transform: translateX(0);
  }

  .mob-menu--show {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(0.37vw);
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@include mobile {
  @include tablet {
    //!burger
    .burger {
      width: 7.733vw;
      height: 6.4vw;

      &::before,
      &::after,
      &__line {
        border-radius: 2.933vw;
      }

      &::before {
        height: 0.801vw;
      }

      &__line {
        width: 5.067vw;
        height: 0.801vw;
      }

      &::after {
        height: 0.801vw;
      }
    }

    //!header
    .header {
      padding: 8vw 0;
      &__container {
        &::after {
          top: 0.4vw;
          right: -10.5vw;
          width: 27vw;
          height: 22.6vw;
        }
        &::before {
          top: 0.4vw;
          left: -10.5vw;
          width: 27vw;
          height: 22.6vw;
        }
      }

      &__logo {
        margin-left: auto;
        margin-right: 13vw;
        width: 40vw;
        height: auto;
        transform: translateY(0.4vw);
        img {
          width: 100%;
          height: 100%;
        }
      }

      &__logo-mob {
        top: 9.2vw;
        width: 40.8vw;
      }

      &__btn {
        width: 13.867vw !important;
        height: 7.467vw !important;

        svg {
          width: 4.534vw;
          height: 4.534vw;
        }
      }
    }

    .nav {
      &__list-wrapper {
        width: 100%;
        padding: 15vh 0 0;
      }

      &__list {
        gap: 7.999vw;
        margin-bottom: 13.333vw;
      }

      &__list-mob {
        width: 100%;
        gap: 8vw;
      }

      &__link {
        font-size: 5.333vw;
        line-height: 6.134vw;
      }

      //!feedback
      .feedback-content {
        border-radius: 5.333vw 5.333vw 0vw 0vw;
        padding: 11.733vw 6.933vw;

        &__form {
          padding: 0 !important;
        }

        &__title {
          font-size: 8.534vw;
          margin-bottom: 4.267vw;
        }

        &__text {
          font-size: 4.266vw;
          line-height: 6.933vw;
        }

        .form {
          &__label:not(:last-child) {
            margin-bottom: 4.266vw;
          }

          &__label:last-of-type {
            margin-bottom: 8.534vw;
          }

          &__input {
            padding: 4.096vw 0vw 4.096vw 4.096vw;
            background-size: 5.333vw;
            background-position: 0 3.072vw;
          }
          &__input::placeholder {
            font-size: 4vw;
            line-height: 6.666vw;
          }

          &__btn {
            height: 13.333vw;
            font-size: 4.266vw;
            line-height: 4.801vw;
            border-radius: 14.133vw;
            margin-bottom: 4.266vw;
          }

          &__text {
            font-size: 3.201vw;
            line-height: 5.333vw;
            width: 60vw;
          }
        }
      }
    }

    .mob-connect {
      gap: 1.333vw;
      &__item {
        gap: 2.933vw;

        svg {
          width: 5.333vw;
          height: 5.333vw;
        }
        span {
          font-size: 4.801vw;
          line-height: 6.933vw;
        }
      }
    }

    .lang {
      svg {
        width: 6.496vw;
        height: 6.496vw;
      }

      span {
        font-size: 4.8vw;
      }
    }
  }
}
