@include tablet {
  //!container
  .container {
    margin: 0 auto;
    max-width: 91vw;
  }

  //!main offest
  .main-offset {
    padding-bottom: 3.906vw;
  }

  //!pagination
  .swiper-pagination-bullet {
    width: 2.214vw;
    height: 0.781vw;
    border-radius: 1.953vw;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0.6vw);
  }

  .swiper-pagination-bullet-active {
    width: 6.901vw;
    height: 0.781vw;
    border-radius: 1.953vw;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 5.3vw;
    right: auto;
    left: 3.9vw;
  }

  //!navigation
  .slider-btns {
    position: absolute;
    bottom: 3vw;
    right: 3.125vw;
    display: flex;
    align-items: center;
    gap: 2.604vw;
    z-index: 1;
  }

  .slider-prev,
  .slider-next {
    width: 6.25vw;
    height: 6.25vw;
    svg {
      width: 2.734vw;
      height: 2.734vw;
    }
  }

  //!btns
  .btn-primary {
    width: 31.25vw;
    height: 5.99vw;
    border-radius: 6.901vw;
    font-size: 2.344vw;
    line-height: 2.865vw;
    span {
      font-size: 2.344vw;
      line-height: 2.865vw;
    }
  }

  //!title
  .page-title {
    font-size: 8.464vw;
    line-height: 7.161vw;
  }

  //!modal
  .modal {
    &__container {
      width: 89.453vw;
      border-radius: 2.604vw;
      margin: 5vw 1.9vw 0 auto;
    }
  }

  .modal-close {
    width: 2.083vw;
    height: 2.083vw;

    top: 4.036vw;
    right: 4.036vw;
  }

  .modal-content {
    &__title {
      font-size: 4.167vw;
      line-height: 3.906vw;
      margin-bottom: 2.083vw;
    }

    &__text {
      width: 100%;
      font-size: 2.083vw;
      line-height: 3.385vw;
      margin-bottom: 4.167vw;
    }

    &__form {
      width: 50%;
      padding: 7vw 3.776vw;
    }
  }
  .form {
    width: 100%;
    &__label {
      &:not(:last-of-type) {
        margin-bottom: 3vw;
      }

      &:last-of-type {
        margin-bottom: 4.167vw;
      }
    }

    &__input {
      padding: 1vw 0 2vw 0;
      background-size: 2vw;
      background-position: 0 0.5vw;

      &::placeholder {
        margin-left: 0;
        font-size: 1.953vw;
        line-height: 3.255vw;
      }
    }

    &__btn {
      width: 100%;
      height: 5.99vw;
      font-size: 2.083vw;
      line-height: 2.344vw;
      margin-bottom: 2.604vw;
    }

    &__text {
      width: 30vw;
      font-size: 1.563vw;
      line-height: 2.604vw;
    }
  }

  //modal consultation
  .modal-consultation {
    .modal-content {
      &__text {
        width: 40vw;
      }
    }
  }

  //modal feedback
  .modal-feedback {
    .modal-content__form {
      padding: 6.51vw 3.776vw;
    }

    .form__textarea {
      height: 19.01vw;
      padding: 2.604vw;
      font-size: 1.953vw;
      line-height: 4.557vw;
      border-radius: 1.302vw;
    }
  }

  //!burger
  .burger {
    @include burger;
    display: block;
    width: 5.208vw;
    height: 3.516vw;
    position: relative;
    z-index: 10;

    &::before,
    &::after,
    &__line {
      border-radius: 1.432vw;
      background-color: var(--text-black);
    }

    &::after {
      transition: all 0.3s ease-in-out;
    }

    &::before {
      width: 100%;
      height: 0.391vw;
    }

    &__line {
      width: 3.776vw;
      height: 0.391vw;
      background-color: var(--main-red);
    }

    &::after {
      width: 100%;
      height: 0.391vw;
    }
  }

  //!header
  .header {
    padding: 3.385vw 0vw;
    &__container {
      &::after {
        top: 0.38vw;
        right: -5.1vw;
        width: 13.021vw;
        height: 10.854vw;
      }
      &::before {
        top: 0.38vw;
        left: -5.1vw;
        width: 13.021vw;
        height: 10.854vw;
      }
    }

    &__logo {
      margin-left: auto;
      margin-right: 25vw;
      width: 25vw;
      height: auto;
      transform: translateY(0.5vw);
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__logo-mob {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--light-color);
      position: absolute;
      top: 4vw;
      left: 50%;
      transform: translateX(-50%);
      width: 19.922vw;
      height: auto;
      z-index: 3;
      img {
        width: 100%;
        height: auto;
      }
    }

    &__btn {
      margin-right: 0;
      width: 10.286vw !important;
      height: 3.646vw !important;
      position: relative;
      z-index: 1;
      span {
        display: none;
      }
      svg {
        display: block;
        width: 2.214vw;
        height: 2.214vw;
      }
    }
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    overflow: auto;

    &__list-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 53.776vw;
      min-height: 100vh;
      padding: 15vh 0 0;

      background-color: var(--light-color);

      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3.906vw;
      margin-bottom: 6.51vw;
    }

    &__list-mob {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 4.427vw;
    }

    &__link {
      font-weight: 400;
      font-size: 2.604vw;
      line-height: 2.995vw;
    }

    //!feedback
    .feedback-content {
      width: 100%;
      border-radius: 2.604vw 2.604vw 0vw 0vw;
      padding: 5vw 6.8vw;

      &__form {
        padding: 0;
        width: 100%;
      }

      &__title {
        font-size: 5.469vw !important;
      }

      &__text {
        font-size: 2.083vw;
        line-height: 3.385vw;
      }

      .form {
        width: 100%;

        &__label:not(:last-child) {
          margin-bottom: 2.083vw;
        }

        &__label:last-of-type {
          margin-bottom: 4.167vw;
        }

        &__input {
          padding: 2vw 0vw 2vw 2vw;
          background-size: 2.604vw;
          background-position: 0 1.5vw;
        }
        &__input::placeholder {
          font-size: 1.953vw;
          line-height: 3.255vw;
        }

        &__btn {
          width: 100%;
          height: 6.51vw;
          font-size: 2.083vw;
          line-height: 2.344vw;
          border-radius: 6.901vw;
          margin-bottom: 2.083vw;
        }

        &__text {
          font-size: 1.563vw;
          line-height: 2.604vw;
        }
      }
    }
  }

  .mob-connect {
    display: flex;
    flex-direction: column;
    gap: 0.651vw;
    &__item {
      display: flex;
      align-items: center;
      gap: 1.432vw;

      svg {
        width: 2.604vw;
        height: 2.604vw;
      }
      span {
        font-weight: 400;
        font-size: 2.344vw;
        line-height: 3.385vw;
      }
    }
  }

  .lang {
    svg {
      width: 2vw;
      height: 2vw;
    }

    span {
      font-size: 1.823vw;
    }
  }

  .hide-backdrop-filter {
    backdrop-filter: none;
  }

  .menu--active {
    transform: translateX(0);
  }

  .mob-menu--show {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(0.37vw);
    background-color: rgba(0, 0, 0, 0.6);
  }

  //!hero
  .hero {
    padding-top: 12vw;
    &__container {
      border-radius: 2.604vw;
    }

    &__title {
      font-size: 14.323vw;
      line-height: 13.021vw;
    }

    &__subtitle {
      font-size: 5.208vw;
      line-height: 7.813vw;
      right: 33vw;
    }

    &__text {
      font-size: 4.427vw;
      line-height: 5.208vw;
    }
  }

  .hero {
    &-bg {
      &::after {
        height: 35vw;
      }
    }

    &-content {
      width: 100%;
      height: fit-content;
      top: 100%;
      transform: translateY(-100%);
    }

    &-content__wrapper {
      padding: 7.813vh 3.9vw 15vh;
      justify-content: space-between;
      gap: 0;
    }
  }

  //!products
  .products {
    &__container {
      border-radius: 2.604vw;
      padding: 7.161vw 3.9vw;
    }

    &__wrapper {
      padding: 5vw 0 1vw;
    }

    .slider-prev,
    .slider-next {
      border-color: var(--text-black);
      svg {
        fill: var(--text-black);
      }
    }
  }

  //products-descr
  .products-descr {
    padding-left: 0;

    &--mob {
      display: block;

      .products-descr__content {
        padding: 0;
      }
    }

    &__content {
      gap: 2.604vw;
      padding: 0;
      border-radius: 0;
    }

    &__text {
      width: 54vw;
      font-size: 2.604vw;
      line-height: 3.906vw;
    }
  }

  //products swiper
  .products-swiper {
    right: 19vw;
    overflow: visible;
    &__slide {
      width: 40vw;
      transform: translateX(-19vw);
      transform: translateX(0);
    }
    .swiper-slide__descr {
      display: none;
    }

    &__content {
      padding-top: 15vw;
    }

    &__top {
      width: 26vw;
      height: 30vw;
      margin: 0 auto 4vw;
    }

    &__circle {
      width: 26vw;
      height: 20vw;
    }

    &__wrapper {
      img {
        transform: translateY(-10vw);
        height: 27vw;
      }
    }

    &__circle-red {
      width: 26vw;
      height: 20vw;
    }

    &__bottom {
      gap: 2.083vw;
      transform: translate(15%, 15%);
    }

    &__title {
      font-size: 5.208vw;
      line-height: 5vw;
    }

    &__list {
      gap: 0.6vw;
    }

    &__item {
      font-size: 2.083vw;
      line-height: 3.125vw;
    }

    .slider-btns {
      position: absolute;
      right: -19vw;
      bottom: 0;
    }
  }

  .products-swiper__slide.swiper-slide-active .products-swiper__content {
    transform: translate(0, 0);
  }

  .products-swiper__slide.swiper-slide-active .products-swiper__bottom {
    transform: translate(0.5vw);
  }

  .products-swiper__slide.swiper-slide-active .products-swiper__wrapper img {
    width: auto;
    height: 42vw;
    transform: translate(-0.65vw, -15vw);
  }

  .products-swiper__slide.swiper-slide-active .products-swiper__circle {
    width: 38.542vw;
    height: 27.604vw;
    transform: translate(0.5vw, -2vw);
  }

  .products-swiper__slide.swiper-slide-active .products-swiper__circle-red {
    width: 38.542vw;
    height: 27.604vw;
    top: -0.8vw;
    left: -0.8vw;
  }

  .about {
    &__container {
      border-radius: 2.604vw;
    }
  }

  .about-descr {
    width: 50%;

    gap: 2.344vw;
    padding: 6.641vw 2.865vw 9.115vw;
    &__list {
      gap: 2.734vw;
      width: 100%;
    }

    &__btn {
      width: 100%;
      margin-top: 5vw;
    }
  }

  .about-image--tablet {
    display: none;
  }
  .about-image--mob {
    display: block;
  }

  .about-item {
    &__icon {
      width: 5.859vw;
      height: 5.859vw;
      margin-right: 3.255vw;
      svg {
        width: 5vw;
        height: 5vw;
        transform: translateY(-0.8vw);
      }
    }

    &__text {
      font-size: 2.083vw;
      line-height: 3.125vw;
    }
  }

  .partners {
    &__container {
      border-radius: 2.604vw;
    }

    .btn-primary {
      width: 100%;
    }
  }

  .partners-block {
    &__descr {
      width: 50%;
      padding: 6.51vw 3.906vw 7vw;
    }

    &__title {
      margin-bottom: 3.255vw;
    }

    &__text {
      font-size: 2.083vw;
      line-height: 3.125vw;
      margin-bottom: 5.078vw;
    }

    &__animation {
      justify-content: flex-start;
    }

    &__animation-image {
      display: none;
    }

    &__animation-text {
      font-size: 2.083vw;
      line-height: 3.125vw;
      gap: 5.078vw;
      width: 100%;
    }

    &__red {
      width: 50%;
      &::after {
        height: 33.464vw;
      }
    }

    &__red-image {
      width: 100%;
      height: auto;
    }
  }

  //!instagram
  .instagram {
    &__container {
      border-radius: 2.604vw;
      padding: 10.026vw 3.9vw 5.078vw;

      &::after {
        top: 22.8vw;
        right: 22.1vw;
        width: 27vw;
        height: 27vw;
        border: 0.5vw solid #a12b4e;
        backdrop-filter: blur(0.326vw);

        border-radius: 2.604vw;
      }
    }
  }

  .iphone {
    top: 5vw;
    left: 1vw;
    width: 37.76vw;
    height: 51.953vw;
  }

  .insta-swiper {
    transform: translateX(10vw);

    &__wrapper {
      margin-bottom: 7vw;
    }

    &__title {
      margin-bottom: 10vw;
      transform: translateX(3.1vw);
      font-size: 6.51vw;
      line-height: 5.208vw;
    }

    &__slide {
      width: 22.526vw;
      height: 22.526vw;
      border-radius: 1.953vw;

      img {
        filter: drop-shadow(0vw 0vw 4.948vw rgba(0, 0, 0, 0.31));
      }
    }

    &__text {
      font-size: 1.823vw;
      line-height: 2.865vw;
      width: 35.156vw;
      margin: 0 auto 8.203vw;
      transform: translateX(4.1vw);
    }

    &__bottom {
      transform: translateX(-10vw);
    }
  }

  .insta-link {
    gap: 2.734vw;
    &__title {
      font-size: 3.385vw;
      line-height: 4.297vw;
    }
    svg {
      width: 5.99vw;
      height: 5.99vw;
    }
  }

  //!feedback
  .feedback {
    &__container {
      border-radius: 2.604vw;
    }

    &__wrapper {
      width: 74vw;
      margin: 0 auto;
    }
  }

  .feedback-content {
    &__form {
      padding: 8.464vw 4.167vw 9.115vw;
    }

    &__title {
      font-size: 8.464vw !important;
      line-height: 7.161vw !important;
    }

    &__text {
      font-size: 2.344vw !important;
      line-height: 3.646vw !important;
      margin-bottom: 3.385vw !important;
      width: 47vw !important;
    }

    .form {
      width: 45.052vw;
      &__label {
        &:not(:last-child) {
          margin-bottom: 3.906vw;
        }

        &:last-of-type {
          margin-bottom: 5.208vw;
        }
      }

      &__input {
        padding: 1vw 0 2.5vw 1vw;
        background-size: 2.5vw;
        background-position: 0 0.5vw;
        &::placeholder {
          font-size: 1.953vw;
          line-height: 3.255vw;
        }
      }

      &__btn {
        width: 100%;
        margin-bottom: 3.906vw;
      }

      &__text {
        font-weight: 300;
        font-size: 1.823vw;
        line-height: 3.125vw;
        width: 46vw;
      }
    }
  }

  //barrel-decoration
  .barrel-decor {
    display: none;
  }

  .barrel-decor__shadow {
    display: none;
  }

  //!new products
  .new-products {
    &__container {
      padding: 8.464vw 3.906vw 8.464vw;
      border-radius: 2.604vw;
    }

    &__title {
      margin-bottom: 6vw;
    }

    &__slide {
      width: 35.1vw;
      &:not(:last-child) {
        margin-right: 3.255vw;
      }
    }

    &__bg {
      display: none;
    }
  }

  .new-products-swiper {
    padding-right: 0;
    &__wrapper {
      margin-bottom: 5.208vw;
    }

    .slider-btns {
      margin-right: 0;
    }
  }

  .product {
    padding: 2.995vw 2.083vw 4.948vw;
    border: 0.13vw solid rgba(44, 44, 44, 0.2);
    backdrop-filter: blur(0.651vw);

    border-radius: 2.604vw;
  }
  .product-image {
    margin: 0 auto 2.604vw;

    border-radius: 1.302vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 28.776vw;
      width: auto;
    }
  }

  .product-bottom {
    padding: 0 3vw;
  }

  .product-name {
    font-size: 2.083vw;
    line-height: 2.544vw;
    margin-bottom: 3.906vw;
  }

  .product-subtitle {
    font-size: 2.083vw;
    line-height: 2.474vw;
    margin-bottom: 2.344vw;
    svg {
      width: 2.083vw;
      height: 2.083vw;
      margin-right: 0.911vw;
    }
  }

  .product-btn {
    width: 100%;
    height: 5.208vw;
  }

  .product-label {
    top: -2.5vw;
    left: -1vw;

    &__stroke {
      border-radius: 2.5vw;
    }
    span {
      border: 0.504vw solid var(--light-color);
      border-radius: 2.5vw;
      padding: 1vw 2vw;
      font-size: 1.625vw;
      line-height: 1.729vw;
    }
  }

  .new-products-swiper__bottom {
    width: 100%;
    margin: 0;
  }

  //!footer
  .footer {
    padding: 9.375vw 3.9vw 0vw;
    &__container {
      padding-bottom: 2.995vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 5.859vw;
      grid-row-gap: 1.255vw;
    }
  }

  .footer-left {
    height: fit-content;
    gap: 2.995vw;
    grid-area: 1 / 1 / 2 / 2;
  }

  .footer-center {
    grid-area: 2 / 1 / 3 / 2;
  }

  .footer-logo {
    width: 44.922vw;
    transform: translateX(0);
  }

  .footer-connect {
    flex-direction: column;
    gap: 2.083vw;
  }

  .footer-btn {
    width: 100%;
  }
  .footer-mail {
    font-size: 2.344vw;
    line-height: 2.865vw;
    gap: 1.302vw;
    svg {
      width: 3.385vw;
      height: 3.125vw;
    }
  }

  .footer-nav {
    &__list {
      gap: 4.036vw;
    }

    &__link {
      font-size: 1.823vw;
      line-height: 2.841vw;
    }
  }

  .qr-code {
    height: 100%;
    width: 26vw;
    margin: 0 auto -5vw;
    img {
      object-fit: contain;
    }
  }
  .footer-map {
    grid-area: 1 / 2 / 3 / 3;
    width: 100%;
    height: 100%;
    border-radius: 1.302vw;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .copyright {
    padding: 3.125vw 0;
    border-top: 0.13vw solid rgba(#909090, 0.1);

    p {
      font-size: 1.823vw;
      line-height: 2.604vw;
    }
  }

  //!social
  .social__wrapper {
    background: #ffffff;
    box-shadow: 4.94843px 2.47421px 22.2679px 3.29895px rgba(0, 0, 0, 0.25);
    border-radius: 1.602vw 1.602vw 0vw 0vw;
    padding: 1.5vw 0vw;
    top: auto;
    right: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .social__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 18.229vw;
  }

  .social__link {
    width: 3.516vw;
    height: 3.516vw;
    border-radius: 0;
    background-color: transparent;
    float: none;
  }

  .social__title {
    display: none;
  }

  .social__icon {
    background-color: transparent;
    border-radius: 0;
    width: 3.516vw;
    height: 3.516vw;
    svg {
      width: 100%;
      height: 100%;
      fill: #6a6a6a;
    }
  }

  //!catalog
  .catalog {
    padding-top: 11vw;

    .breadcrumbs {
      .breadcrumbs__link {
        font-size: 1.823vw;
        line-height: 2.344vw;
        svg {
          width: 1.563vw;
          height: 1.563vw;
        }
      }
    }
  }

  .catalog-content {
    min-height: 20vw;

    border-radius: 2.604vw;
    margin-bottom: 3.906vw;
    &__descr {
      width: 100%;
      padding: 2.8vw 3.255vw;
    }

    &__title {
      font-size: 6.51vw;
      line-height: 6.51vw;
    }

    &__image {
      display: none;
    }
  }

  .catalog-products__sliders {
    gap: 3.906vw;
  }

  .product-descr {
    padding: 2.604vw;
    width: 100%;

    box-shadow: 19px -82px 40px rgba(0, 0, 0, 0.04);
    border-radius: 0vw 0vw 2.604vw 2.604vw;

    &__name {
      gap: 0;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
    }

    &__title {
      font-size: 3.385vw;
      line-height: 3.473vw;
      align-items: center;
    }

    &__bottom {
      gap: 3.906vw;
      align-items: center;
    }

    &__btn {
      font-size: 1.823vw;
      line-height: 1.693vw;
      width: 20.052vw;
      height: 5.2vw;
    }
  }

  .catalog-product__slider {
    border-radius: 2.604vw;
    flex-direction: column-reverse;
    overflow: hidden;

    .slider-btns {
      gap: 1.953vw;
    }

    .slider-prev,
    .slider-next {
      width: 5.208vw;
      height: 5.208vw;
      svg {
        width: 1.953vw;
        height: 1.302vw;
      }
    }
  }

  .catalog-swiper {
    padding: 0;
    &::after {
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      height: 110%;
      width: 12.76vw;
    }

    &::before {
      display: none;
    }

    &__wrapper {
      padding: 2.604vw;
      margin-left: 0;
    }
  }

  .catalog-slide {
    width: 39.453vw;
    margin-right: 3.255vw;

    &__image {
      height: 16vw;

      img {
        transform: scale(1.02);
      }
    }

    &__item {
      border: 0.13vw solid rgba(0, 0, 0, 0.3);
      border-radius: 1.302vw;
    }

    &__name {
      padding: 4.167vw 2.604vw;
      background-color: var(--light-color);

      h3 {
        font-size: 3.125vw;
        line-height: 2.604vw;
      }
    }

    &:last-child {
      padding-right: 2vw;
    }
  }

  //!category
  .category {
    padding-top: 11vw;

    .breadcrumbs {
      .breadcrumbs__link {
        font-size: 1.823vw;
        line-height: 2.344vw;
        svg {
          width: 1.563vw;
          height: 1.563vw;
        }
      }
    }

    .catalog-content__title {
      gap: 0.651vw;
      align-items: flex-start;
      h1 {
        font-size: 6.51vw;
        line-height: 6.51vw;
      }
      h3 {
        display: block;
        font-family: var(--font-family-Helvetica);
        font-weight: 300;
        text-transform: none;
        font-size: 2.344vw;
        line-height: 3.125vw;
      }
    }

    .catalog-content {
      min-height: 25vw;

      border-radius: 2.604vw;
      margin-bottom: 3.906vw;

      &__download {
        gap: 1.172vw;

        svg {
          width: 1.563vw;
          height: 2.083vw;
        }

        a {
          font-size: 2.344vw;
          line-height: 3.385vw;
          border-bottom: 1px dashed #ffffff7d;
        }
      }

      &__descr {
        width: 100%;
        padding: 2.8vw 3.255vw;
      }

      &__title {
        font-size: 6.51vw;
        line-height: 6.51vw;
      }

      &__image {
        display: none;
      }
    }
  }

  .category-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.953vw;
    grid-row-gap: 1.953vw;
  }

  .catalog-slide:not(:last-child) {
    margin-right: 2.604vw;
  }

  .catalog-slide__item {
    border-radius: 2.604vw;
  }

  .catalog-slide__image {
    height: 22vw;
  }

  //!subcategory
  .subcategory {
    padding-top: 11vw;
  }

  .breadcrumbs {
    margin-bottom: 3.906vw;
    .breadcrumbs__item::after {
      background-color: var(--text-black);
    }

    .breadcrumbs__item-main {
      padding-right: 1.5vw;
      margin-right: 1.5vw;
    }

    .breadcrumbs__link {
      font-size: 2.083vw;
      line-height: 2.344vw;
      svg {
        width: 1.8vw;
        height: 1.8vw;
        fill: var(--text-black);
      }
    }
  }

  .subcategory-products {
    border-radius: 2.605vw;
    padding: 3.906vw 3.255vw 5.906vw;

    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 2.083vw;
      grid-row-gap: 5.208vw;
      margin-bottom: 5.859vw;
    }
  }
  .subcategory-title {
    margin-bottom: 5.208vw;
  }

  .subcategory-btn {
    width: 100%;
  }

  //!single
  .single {
    padding-top: 11vw;
    &__container {
      overflow: hidden;
    }

    .breadcrumbs {
      margin-bottom: 3.906vw;
      .breadcrumbs__item::after {
        background-color: var(--text-black);
      }

      .breadcrumbs__item-main {
        padding-right: 1.5vw;
        margin-right: 1.5vw;
      }

      .breadcrumbs__link {
        font-size: 2.083vw;
        line-height: 2.344vw;
        svg {
          width: 1.8vw;
          height: 1.8vw;
        }
      }
    }
  }

  //menu
  .menu {
    margin-bottom: 3.906vw;
    border-radius: 2.604vw;
    padding: 1.5vw 1.302vw;
    overflow: hidden;

    &::after {
      right: -2vw;
      width: 16.406vw;
      height: 100%;
      background: linear-gradient(
        270deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    &::before {
      left: -10vw;
      width: 10vw;
      height: 100%;
    }
    &__list {
      gap: 0;
    }

    &__item {
      padding: 0;
      width: fit-content;
      margin-right: 4vw;

      &::after {
        top: 50%;
        right: calc(-3.906vw / 2);
        width: 0.13vw;
        height: 4.557vw;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &__link {
      font-size: 3.906vw;
      line-height: 4.557vw;
      border-radius: 1.302vw;
      padding: 0.4vw 2vw;

      svg {
        width: 0.521vw;
        height: 0.521vw;
      }
    }
  }

  .sub-menu {
    display: none;
  }

  //short-descr
  .short-descr {
    flex-direction: column;
    border-radius: 2.604vw;
    margin-bottom: 3.906vw;
    &__image {
      width: 100%;
      img {
        height: 51.302vw;
        width: auto;
      }
    }

    &__content {
      padding: 5.859vw 3.906vw;
      height: 100%;
    }

    &__title {
      font-size: 6.51vw;
      line-height: 5.208vw;
      margin-bottom: 1.693vw;
    }

    .product-subtitle {
      margin-bottom: 1.693vw;
    }

    &__subtitle {
      font-size: 4.167vw;
      line-height: 3.125vw;
      margin-bottom: 1.042vw;
    }

    &__text {
      font-size: 2.344vw;
      line-height: 3.125vw;
      margin-bottom: 3.906vw;
    }

    &__bottom {
      gap: 3.906vw;
    }
  }

  .catalog-content {
    &__download {
      gap: 1.172vw;
      svg {
        width: 2.604vw;
        height: 2.604vw;
      }

      a {
        font-size: 2.604vw;
        line-height: 3.385vw;
        border-bottom: 0.2vw dashed #a12b4e6d;
      }
    }
  }

  //information
  .information {
    border-radius: 2.604vw;
    padding: 6.51vw 3.906vw 3.255vw;
  }
  .information-title {
    font-size: 6.51vw;
    line-height: 5.208vw;
    margin-bottom: 5.729vw;
  }

  .information-wrapper {
    border-top: 0.13vw solid #d9d9d9;
    border-bottom: 0.13vw solid #d9d9d9;
    padding: 3.906vw 0;
  }

  .information-content {
    width: 100%;
    gap: 4.557vw;
  }
  .information-item {
    gap: 1.693vw;
  }
  .info-product {
    &__title {
      font-size: 3.125vw;
      line-height: 2.604vw;
    }

    &__text,
    &__subtitle {
      font-size: 2.604vw;
      line-height: 3.255vw;
    }

    &__text {
      padding-left: 5vw;
    }

    &__list {
      &:not(:last-child) {
        margin-bottom: 6.144px;
      }
    }

    &:nth-child(1) &__text {
      padding-left: 0;
    }
  }

  .information-hide {
    gap: 2.604vw;
    padding-top: 3.255vw;

    &__text {
      font-size: 2.344vw;
      line-height: 2.604vw;
    }

    &__btn {
      width: 6.25vw;
      height: 6.25vw;
      &::after {
        width: 2.474vw;
        height: 0.13vw;
      }

      &::before {
        width: 2.474vw;
        height: 0.13vw;
      }
    }
  }

  //!about-hero
  .about-hero {
    padding-top: 12vw;

    &__container {
      border-radius: 2.604vw;

      &::after {
        height: 95.703vw;
      }
    }

    &__content {
      gap: 1.302vw;
      bottom: 0;
      right: 0;
      width: 100%;
      padding: 0 3.906vw 15vh;
    }

    &__title {
      font-size: 14.323vw;
      line-height: 13.021vw;
    }

    &__subtitle {
      font-size: 6.51vw;
      line-height: 7.813vw;
    }

    &__text {
      font-size: 4.427vw;
      line-height: 5.208vw;
    }
  }

  //!description
  .description {
    &__container {
      gap: 5.208vw;
      border-radius: 2.604vw;
    }
  }

  .about-company {
    border-radius: 2.604vw;
    &__content {
      width: 50%;
      padding: 6.51vw 4.297vw;
    }

    &__title {
      font-size: 6.51vw;
      line-height: 5.208vw;
      margin-bottom: 1.563vw;
    }

    &__text {
      font-size: 2.083vw;
      line-height: 3.125vw;

      &:not(:last-of-type) {
        margin-bottom: 1.953vw;
      }
    }

    &__image {
      width: 50%;
      min-height: 65vw;
    }

    &__bottom {
      margin-left: 10vw;
      margin-top: 1.953vw;
      gap: 3.906vw;

      .about-company__text {
        font-size: 2vw;
      }
    }

    &__btn {
      width: 100%;
      height: 7.161vw;
      font-size: 2.083vw;
      line-height: 2.604vw;
    }

    &__bg {
      left: -27.5vw;
      bottom: -7vw;
      width: 44.01vw;
      height: 38vw;
      img {
        object-fit: contain;
      }
    }
  }

  //!contacts
  .contacts {
    padding-top: 12vw;
    &__container {
      border-radius: 2.604vw;
      flex-direction: column;
      height: 100%;
    }

    .breadcrumbs {
      margin-bottom: 6.4vw;
      .breadcrumbs__item-main {
        padding-right: 1.5vw;
        margin-right: 1.5vw;
      }

      .breadcrumbs__link {
        font-size: 2.083vw;
        line-height: 2.344vw;
        svg {
          width: 1.8vw;
          height: 1.8vw;
        }
      }
    }

    &__title {
      font-size: 6.511vw;
      line-height: 5.209vw;
      margin-bottom: 4.427vw;
    }

    &__content {
      padding: 6.51vw 5.208vw;
    }

    &__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 4.688vw;
    }
  }

  .contacts-item {
    gap: 1.302vw;
    &__title {
      font-size: 4.167vw;
      line-height: 3.255vw;
    }

    &__link {
      gap: 1.302vw;
      font-size: 2.083vw;
      line-height: 3.125vw;
      svg {
        width: 2.344vw;
        height: 2.344vw;
      }
    }
  }

  .contacts-map {
    width: 100%;
    height: 63.932vw;
    margin: 0;
  }
}

@include mobile {
  //!main offest
  .main-offset {
    padding-bottom: 8vw;
  }

  //!pagination
  .swiper-pagination-bullet {
    width: 3.048vw;
    height: 1.067vw;
    border-radius: 4.114vw;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 1.333vw);
  }

  .swiper-pagination-bullet-active {
    width: 9.333vw;
    height: 1.067vw;
    border-radius: 4.117vw;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 10vw;
    left: 3.9vw;
  }

  //!navigation
  .slider-btns {
    bottom: 7vw;
    right: 8.533vw;
    gap: 2.667vw;
  }

  .slider-prev,
  .slider-next {
    width: 8.533vw;
    height: 8.533vw;
    svg {
      width: 3.2vw;
      height: 2.734vw;
    }
  }

  //!title
  .page-title {
    font-size: 13.333vw;
    line-height: 10.667vw;
  }

  //!btns
  .btn-primary {
    width: 100%;
    height: 12.267vw;
    border-radius: 14.133vw;
    font-size: 4.267vw;
    line-height: 5.333vw;
    span {
      font-size: 4.267vw;
      line-height: 5.333vw;
    }
  }

  .modal {
    &__container {
      width: 91.467vw;
      border-radius: 5.333vw;
      margin: 5vw 1.9vw 0 auto;
    }
  }

  .modal-close {
    width: 6vw;
    height: 6vw;

    top: 5vw;
    right: 5vw;
  }

  .modal-content {
    &__title {
      font-size: 8.533vw;
      line-height: 8vw;
    }

    &__text {
      font-size: 4.267vw;
      line-height: 6.933vw;
      margin-bottom: 8.533vw;
      width: 82vw !important;
    }

    &__image {
      display: none;
    }

    &__form {
      width: 100%;
      padding: 19.733vw 4.533vw;
    }
  }
  .form {
    width: 100%;
    &__label {
      &:not(:last-child) {
        margin-bottom: 4.267vw;
      }

      &:last-of-type {
        margin-bottom: 8.533vw;
      }
    }

    &__input {
      padding: 2vw 0 3.5vw 0vw;
      background-size: 4vw;
      background-position: 0 1vw;
      &::placeholder {
        font-size: 4vw;
        line-height: 6.667vw;
      }
    }

    &__btn {
      height: 12.267vw;
      margin-bottom: 5.333vw;
      font-weight: 700;
      font-size: 4.267vw;
      line-height: 4.8vw;
    }

    &__text {
      font-size: 3.2vw;
      line-height: 5.333vw;
      width: 63vw;
    }
  }

  //modal consultation
  .modal-consultation {
    .modal-content {
      &__text {
        width: 82vw;
      }
    }
  }

  //modal feedback
  .modal-feedback {
    .modal-content__form {
      padding: 19.733vw 4.533vw;
    }

    .modal-close {
      background-image: none;
      &--white {
        display: block;
        width: 6vw;
        height: 6vw;
        top: 5vw;
        right: 5vw;
        fill: var(--light-color);
      }
    }

    .form__textarea {
      height: 38.933vw;
      padding: 4.8vw;
      font-size: 4vw;
      line-height: 9.333vw;
      border-radius: 2.667vw;
    }
  }

  //!social
  .social__wrapper {
    box-shadow: 1.32vw 0.66vw 5.938vw 0.88vw rgba(0, 0, 0, 0.25);
    border-radius: 3.299vw 3.299vw 0 0;
    padding: 3vw 0;
  }
  .social__list {
    gap: 16.267vw;
  }

  .social__link {
    width: 6vw;
    height: 6vw;
  }

  .social__icon {
    width: 6vw;
    height: 6vw;
  }

  //!burger
  .burger {
    width: 7.733vw;
    height: 6.4vw;

    &::before,
    &::after,
    &__line {
      border-radius: 2.933vw;
    }

    &::before {
      height: 0.801vw;
    }

    &__line {
      width: 5.067vw;
      height: 0.801vw;
    }

    &::after {
      height: 0.801vw;
    }
  }

  //!header
  .header {
    padding: 8vw 0;
    &__container {
      &::after {
        top: 0.4vw;
        right: -10.5vw;
        width: 27vw;
        height: 22.6vw;
      }
      &::before {
        top: 0.4vw;
        left: -10.5vw;
        width: 27vw;
        height: 22.6vw;
      }
    }

    &__logo {
      margin-left: auto;
      margin-right: 13vw;
      width: 40vw;
      height: auto;
      transform: translateY(0.4vw);
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__logo-mob {
      top: 9.2vw;
      width: 40.8vw;
    }

    &__btn {
      width: 13.867vw !important;
      height: 7.467vw !important;

      svg {
        width: 4.534vw;
        height: 4.534vw;
      }
    }
  }

  .nav {
    &__list-wrapper {
      width: 100%;
      padding: 15vh 0 0;
    }

    &__list {
      gap: 7.999vw;
      margin-bottom: 13.333vw;
    }

    &__list-mob {
      width: 100%;
      gap: 8vw;
    }

    &__link {
      font-size: 5.333vw;
      line-height: 6.134vw;
    }

    //!feedback
    .feedback-content {
      border-radius: 5.333vw 5.333vw 0vw 0vw;
      padding: 11.733vw 6.933vw;

      &__form {
        padding: 0 !important;
      }

      &__title {
        font-size: 8.534vw !important;
        margin-bottom: 4.267vw;
      }

      &__text {
        font-size: 4.266vw;
        line-height: 6.933vw;
      }

      .form {
        &__label:not(:last-child) {
          margin-bottom: 4.266vw;
        }

        &__label:last-of-type {
          margin-bottom: 8.534vw;
        }

        &__input {
          padding: 4.096vw 0vw 4.096vw 4.096vw;
          background-size: 5.333vw;
          background-position: 0 3.072vw;
        }
        &__input::placeholder {
          font-size: 4vw;
          line-height: 6.666vw;
        }

        &__btn {
          height: 13.333vw;
          font-size: 4.266vw;
          line-height: 4.801vw;
          border-radius: 14.133vw;
          margin-bottom: 4.266vw;
        }

        &__text {
          font-size: 3.201vw;
          line-height: 5.333vw;
          width: 60vw;
        }
      }
    }
  }

  .mob-connect {
    gap: 1.333vw;
    &__item {
      gap: 2.933vw;

      svg {
        width: 5.333vw;
        height: 5.333vw;
      }
      span {
        font-size: 4.801vw;
        line-height: 6.933vw;
      }
    }
  }

  .lang {
    svg {
      width: 6.496vw;
      height: 6.496vw;
    }

    span {
      font-size: 4.8vw;
    }
  }

  .hero {
    padding-top: 23vw;
    &__container {
      border-radius: 5.333vw;
    }

    &__title {
      font-size: 13.333vw;
      line-height: 13.021vw;
    }

    &__subtitle {
      font-size: 5.333vw;
      line-height: 9.6vw;
      right: 25vw;
    }

    &__text {
      font-size: 4.8vw;
      line-height: 6.933vw;
    }
  }

  //!hero
  .hero {
    &-bg {
      &::after {
        height: 70%;
      }
    }

    &-content__wrapper {
      padding: 11.733vh 5.333vw 15vh;
      justify-content: space-between;
      gap: 0;
    }
  }

  //!products
  .products {
    &__container {
      border-radius: 5.333vw;
      padding: 10.667vw 4.533vw;
    }

    &__wrapper {
      padding: 0;
    }
  }

  //products-descr
  .products-descr {
    &__content {
      gap: 4vw;
    }

    &__text {
      width: 100%;
      font-size: 4.267vw;
      line-height: 6.4vw;
    }
  }

  //!products swiper
  .products-swiper {
    margin-bottom: 5vw;
    right: 13vw;
    &__slide {
      width: 50vw;
      margin-right: 3vw;
      transform: translateX(-12vw);
      transform: translateX(0);
    }

    &__content {
      padding-top: 30vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__top {
      width: 100%;
      height: 18.667vw;
      margin: 0 auto 7vw;
      align-items: flex-start;
    }

    &__circle {
      width: 26vw;
      height: 18.667vw;
    }

    &__wrapper {
      img {
        transform: translateY(-9vw);
        height: 27vw;
      }
    }

    &__circle-red {
      width: 26vw;
      height: 18.667vw;
    }

    &__bottom {
      align-items: flex-start;
      gap: 4.267vw;
      transform: translate(15%, 15%);
    }

    &__title {
      text-align: left;
      width: 120%;
      font-size: 10.667vw;
      line-height: 10vw;
    }

    &__list {
      gap: 1.5vw;
      align-items: flex-start;
    }

    &__item {
      font-size: 4.267vw;
      line-height: 6.4vw;
    }

    &__btn {
      display: none;
    }

    &__btn--mob {
      display: flex;
      width: 100%;
    }

    .slider-btns {
      position: absolute;
      right: -9vw;
      bottom: 50vw;
    }
  }

  .products-swiper__slide.swiper-slide-active .products-swiper__bottom {
    transform: translate(0);
  }

  .products-swiper__slide.swiper-slide-active .products-swiper__wrapper img {
    width: auto;
    height: 43vw;
    transform: translate(0vw, -16vw);
  }

  //!partners
  .partners {
    &__container {
      border-radius: 5.333vw;
    }
  }

  .partners-block {
    &__descr {
      width: 100%;
      padding: 13.333vw 4.533vw;
    }

    &__title {
      margin-bottom: 3.255vw;
    }

    &__text {
      font-size: 3.733vw;
      line-height: 5.867vw;
      margin-bottom: 6.667vw;
    }

    &__animation {
      justify-content: flex-start;
    }

    &__animation-image {
      display: block;
      top: 2vw;
      left: -23vw;
      svg {
        width: 44.267vw;
        height: 58vw;
        opacity: 0.6;
      }
    }

    &__animation-text {
      font-size: 3.733vw;
      line-height: 5.867vw;
      gap: 8vw;
      width: 100%;
      padding-left: 33vw;
    }

    &__red {
      display: none;
    }
  }

  //!about
  .about {
    &__container {
      border-radius: 5.333vw;
      flex-direction: column;
    }
  }

  .about-descr {
    width: 100%;
    gap: 6.4vw;
    padding: 10.667vw 4.533vw;
    &__list {
      gap: 5.333vw;
      width: 100%;
    }

    &__btn {
      height: 12.267vw;
      margin-top: 0;
    }
  }

  .about-image--mob {
    display: block;
    height: 67.733vw;
    object-position: 0 60%;
  }

  .about-item {
    &__icon {
      width: 12vw;
      height: 12vw;
      margin-right: 6.667vw;
      svg {
        width: 100%;
        height: 11vw;
        transform: translateY(-1.638vw);
      }
    }

    &__text {
      font-size: 3.733vw;
      line-height: 5.867vw;
    }
  }

  .partners {
    &__container {
      border-radius: 5.333vw;
    }
  }

  .partners-block {
    &__descr {
      width: 100%;
      padding: 13.333vw 4.533vw;
    }

    &__title {
      margin-bottom: 3.255vw;
    }

    &__text {
      font-size: 3.733vw;
      line-height: 5.867vw;
      margin-bottom: 6.667vw;
    }

    &__animation {
      justify-content: flex-start;
    }

    &__animation-image {
      display: block;
      top: 2vw;
      left: -23vw;
      svg {
        width: 44.267vw;
        height: 58vw;
        opacity: 0.6;
      }
    }

    &__animation-text {
      font-size: 3.733vw;
      line-height: 5.867vw;
      gap: 8vw;
      width: 100%;
      padding-left: 33vw;
    }

    &__red {
      display: none;
    }
  }

  .instagram {
    &__container {
      border-radius: 5.333vw;
      padding: 16.533vw 5.6vw;

      &::after {
        top: 38vw;
        right: 12.1vw;
        width: 67.2vw;
        height: 67.2vw;
        border: 0.533vw solid #a12b4e;

        border-radius: 5.333vw;
      }
    }
  }

  .iphone {
    display: none;
  }

  .insta-swiper {
    transform: translateX(0);

    &__wrapper {
      margin-bottom: 7vw;
    }

    &__title {
      margin-bottom: 15vw;
      transform: translateX(0);
      font-size: 13.333vw;
      line-height: 10.667vw;
    }

    &__slide {
      width: 59.2vw;
      height: 59.2vw;
      border-radius: 4vw;
    }

    &__text {
      font-size: 3.733vw;
      line-height: 5.867vw;
      width: 100%;
      margin: 10vw auto 13.333vw;
      transform: translateX(0);
    }

    &__bottom {
      transform: translateX(0);
    }
  }

  .insta-link {
    gap: 4.267vw;
    &__title {
      font-size: 6.4vw;
      line-height: 8.8vw;
    }
    svg {
      width: 8.533vw;
      height: 8.533vw;
    }
  }

  .feedback {
    &__container {
      border-radius: 5.333vw;
    }

    &__wrapper {
      width: 100%;
    }
  }

  .feedback-content {
    &__form {
      width: 100% !important;
      padding: 19.733vw 4.533vw !important;
    }

    &__title {
      font-size: 10.533vw !important;
      line-height: 8vw !important;
    }

    &__text {
      font-size: 4.267vw !important;
      line-height: 6.933vw !important;
      margin-bottom: 8.533vw !important;
      width: 82vw !important;
    }

    .form {
      width: 100%;

      &__label {
        &:not(:last-child) {
          margin-bottom: 4.267vw;
        }

        &:last-of-type {
          margin-bottom: 8.533vw;
        }
      }

      &__input {
        padding: 2vw 0 3.5vw 0vw;
        background-size: 4vw;
        background-position: 0 1vw;
        &::placeholder {
          font-size: 4vw;
          line-height: 6.667vw;
        }
      }

      &__btn {
        height: 12.267vw;
        margin-bottom: 5.333vw;
        font-weight: 700;
        font-size: 4.267vw;
        line-height: 4.8vw;
      }

      &__text {
        font-size: 3.2vw;
        line-height: 5.333vw;
        width: 63vw;
      }
    }
  }

  //barrel-decoration
  .barrel-decor {
    display: none;
  }

  .barrel-decor__shadow {
    display: none;
  }

  .new-products {
    &__container {
      padding: 13.333vw 4.533vw;
      border-radius: 5.333vw;
    }

    &__title {
      margin-bottom: 5.333vw;
    }

    &__slide {
      width: 60vw;
      &:not(:last-child) {
        margin-right: 6.667vw;
      }
    }

    &__bg {
      display: none;
    }
  }

  .new-products-swiper {
    &__wrapper {
      margin-bottom: 5.6vw;
    }

    .slider-btns {
      margin-right: 0;
    }
  }

  .product {
    padding: 6.133vw 4.267vw;
    border: 1px solid rgba(44, 44, 44, 0.2);

    border-radius: 5.333vw;
  }
  .product-image {
    margin: 0 auto 5.333vw;

    border-radius: 2.667vw;

    img {
      height: 58.667vw;
      width: auto;
    }
  }

  .product-bottom {
    padding: 0 3vw;
  }

  .product-name {
    font-size: 4.267vw;
    line-height: 5.333vw;
    margin-bottom: 5vw;
  }

  .product-subtitle {
    font-size: 4.267vw;
    line-height: 5.333vw;
    margin-bottom: 4.8vw;
    svg {
      width: 2.667vw;
      height: 2.667vw;
      margin-right: 2.667vw;
    }
  }

  .product-btn {
    height: 10.667vw;
  }

  .product-label {
    top: -4vw;
    left: -2vw;

    &__stroke {
      border-radius: 4.5vw;
    }
    span {
      border: 1vw solid var(--light-color);
      border-radius: 4.5vw;
      padding: 2vw 7vw;
      font-size: 2.625vw;
      line-height: 2.729vw;
    }
  }

  .footer {
    padding: 16vw 4.533vw 0;
    &__container {
      padding-bottom: 8.533vw;
      display: flex;
      flex-direction: column;
      gap: 8.8vw;
    }
  }

  .footer-left {
    align-items: center;
    gap: 10.667vw;
  }

  .footer-logo {
    width: 68.8vw;
  }

  .footer-connect {
    gap: 8vw;
  }

  .footer-btn {
    width: 75.467vw;
    height: 12.267vw;
  }
  .footer-mail {
    font-size: 4.8vw;
    line-height: 5.867vw;
    gap: 3.2vw;
    svg {
      width: 6.4vw;
      height: 6.4vw;
    }
  }

  .footer-nav {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 6.4vw;
      grid-column-gap: 19.733vw;
    }

    &__link {
      font-size: 4.8vw;
      line-height: 7.467vw;
    }
  }

  .qr-code {
    display: none;
  }
  .footer-map {
    width: 100%;
    height: 80vw;
    border-radius: 5.333vw;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .copyright {
    padding: 5.867vw 0;
    border-top: 0.267vw solid rgba(#909090, 0.1);

    p {
      font-size: 3.733vw;
      line-height: 5.333vw;
    }
  }

  .catalog {
    padding-top: 24.5vw;

    .breadcrumbs {
      .breadcrumbs__item-main {
        display: none;
      }

      .breadcrumbs__item-back {
        display: block;
        svg {
          transform: rotate(90deg);
        }
      }

      .breadcrumbs__link {
        display: flex;
        align-items: center;
        gap: 1.5vw;
        font-size: 3.733vw;
        line-height: 4.8vw;
        svg {
          width: 3vw;
          height: 3.6vw;
          fill: var(--light-color);
        }
      }
    }
  }

  .catalog-content {
    min-height: 26.667vw;

    border-radius: 2.667vw;
    margin-bottom: 8vw;
    &__descr {
      padding: 4.267vw 4vw;
    }

    &__title {
      font-size: 8.533vw;
      line-height: 8.533vw;
    }

    &__image {
      display: none;
    }
  }

  .catalog-products__sliders {
    gap: 8vw;
  }

  .product-descr {
    padding: 30px;
    width: 100%;

    border-radius: 0px 0px 9.765px 9.765px;

    &__name {
      flex-direction: column;
      align-items: center;
      gap: 4.533vw;
    }

    &__title {
      font-size: 7.112vw;
      line-height: 7.112vw;
      width: 100%;
      text-align: left;
    }

    &__bottom {
      justify-content: space-between;
      gap: 8vw;
    }

    &__btn {
      font-size: 3.2vw;
      line-height: 3.555vw;
      width: 57.067vw;
      height: 8vw;
    }
  }

  .catalog-product__slider {
    border-radius: 5.333vw;
    flex-direction: column-reverse;
    overflow: hidden;

    .slider-btns {
      gap: 2.667vw;
    }

    .slider-prev,
    .slider-next {
      width: 8vw;
      height: 8vw;
      svg {
        width: 3.573vw;
        height: 3.573vw;
      }
    }
  }

  .catalog-swiper {
    padding: 0;
    &::after {
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      height: 110%;
      width: 47.85px;
    }

    &::before {
      display: none;
    }

    &__wrapper {
      padding: 5.333vw;
      border-radius: 5.333vw;
    }
  }

  .catalog-slide {
    width: 89%;
    &:not(:last-child) {
      margin-right: 5.333vw !important;
    }
    &:last-child {
      margin-right: 5.333vw !important;
    }

    &__image {
      height: 37vw !important;
    }

    &__item {
      border: 0.267vw solid rgba(0, 0, 0, 0.3);
      border-radius: 2.667vw;
    }

    &__name {
      padding: 8.533vw 5.333vw;
      background-color: var(--light-color);

      h3 {
        font-size: 6.4vw;
        line-height: 5.333vw;
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .category {
    padding-top: 24.5vw;

    .breadcrumbs {
      .breadcrumbs__item-main {
        display: none;
      }

      .breadcrumbs__item-back {
        display: block;
        svg {
          transform: rotate(90deg);
        }
      }

      .breadcrumbs__link {
        display: flex;
        align-items: center;
        gap: 1.5vw;
        font-size: 3.733vw;
        line-height: 4.8vw;
        svg {
          width: 3vw;
          height: 3.6vw;
          fill: var(--light-color);
        }
      }
    }

    .catalog-content__title {
      gap: 2.441px;
      h1 {
        font-size: 8.533vw;
        line-height: 8.533vw;
      }
      h3 {
        display: none;
      }
    }

    .catalog-content {
      min-height: 48vw;

      border-radius: 2.667vw;
      margin-bottom: 8vw;

      &__download {
        gap: 1.333vw;

        svg {
          width: 4vw;
          height: 4vw;
        }

        a {
          font-size: 4.267vw;
          line-height: 5vw;
          border-bottom: 0.5vw dashed #ffffff7d;
        }
      }

      &__descr {
        padding: 5.867vw 4vw;
      }

      &__image {
        display: none;
      }
    }
  }

  .category-list {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 5.6vw;
  }

  .catalog-slide__item {
    border-radius: 5.333vw;
  }

  .catalog-slide__image {
    height: 37vw;
  }

  .subcategory {
    padding-top: 24.5vw;
  }

  .breadcrumbs {
    .breadcrumbs__item-main {
      display: none;
    }

    .breadcrumbs__item-back {
      display: block;
      svg {
        transform: rotate(90deg);
      }
    }

    .breadcrumbs__link {
      display: flex;
      align-items: center;
      gap: 1.5vw;
      font-size: 3.733vw;
      line-height: 4.8vw;
      svg {
        width: 3vw;
        height: 3.6vw;
        fill: var(--text-black);
      }
    }
  }

  .subcategory-products {
    border-radius: 5.335vw;
    padding: 4.267vw 4vw 8vw;

    &__wrapper {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 6.667vw;
      margin-bottom: 8vw;
    }
  }
  .subcategory-title {
    margin-bottom: 10.666vw;
    font-size: 8.533vw;
    line-height: 8.533vw;
  }

  .single {
    padding-top: 24.5vw;

    .breadcrumbs {
      .breadcrumbs__item-main {
        display: none;
      }

      .breadcrumbs__item-back {
        display: block;
        svg {
          transform: rotate(90deg);
        }
      }

      .breadcrumbs__link {
        display: flex;
        align-items: center;
        gap: 1.5vw;
        font-size: 3.733vw;
        line-height: 4.8vw;
        svg {
          width: 3vw;
          height: 3.6vw;
          fill: var(--text-black);
        }
      }
    }
  }

  //menu
  .menu {
    width: 100%;
    margin-bottom: 4vw;
    border-radius: 2.667vw;
    padding: 3vw 3vw;

    &::after {
      right: -5vw;
      width: 20vw;
    }

    &__item {
      padding: 0;
      margin-right: 3.5vw;

      &::after {
        width: 0.267vw;
        height: 7vw;
      }
    }

    &__link {
      font-size: 5.333vw;
      line-height: 6.4vw;
      border-radius: 2vw;
      padding: 0.4vw 2vw;

      svg {
        width: 1.954px;
        height: 1.954px;
      }
    }
  }

  //short-descr
  .short-descr {
    border-radius: 5.333vw;
    margin-bottom: 8vw;
    &__image {
      width: 100%;
      img {
        height: 94.933vw;
        width: auto;
      }
    }

    &__content {
      padding: 8vw 4vw;
    }

    &__title {
      font-size: 8.533vw;
      line-height: 6.667vw;
      margin-bottom: 4vw;
    }

    .product-subtitle {
      margin-bottom: 4vw;
    }

    &__subtitle {
      font-size: 6.4vw;
      line-height: 5.333vw;
      margin-bottom: 2.133vw;
    }

    &__text {
      font-size: 4.267vw;
      line-height: 5.867vw;
      margin-bottom: 5.333vw;
    }

    &__bottom {
      gap: 4.267vw;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .catalog-content {
    &__download {
      gap: 1.333vw;
      svg {
        width: 5.333vw;
        height: 5.333vw;
      }

      a {
        font-size: 4.267vw;
        line-height: 5.333vw;
        border-bottom: 0.5vw dashed #a12b4e6d;
      }
    }
  }

  //information
  .information {
    border-radius: 5.333vw;
    padding: 9.333vw 5.333vw 5vw;
  }
  .information-title {
    font-size: 8.533vw;
    line-height: 6.667vw;
    margin-bottom: 6.667vw;
  }

  .information-wrapper {
    border-top: 0.267vw solid #d9d9d9;
    border-bottom: 0.267vw solid #d9d9d9;
    padding: 5.6vw 0;
  }

  .information-content {
    width: 100%;
    gap: 6.4vw;
  }
  .information-item {
    gap: 5.333vw;
  }
  .info-product {
    &__title {
      font-size: 6.4vw;
      line-height: 5.333vw;
    }

    &__text,
    &__subtitle {
      font-size: 4.267vw;
      line-height: 5.6vw;
    }

    &__text {
      padding-left: 5vw;
    }

    &__list {
      &:not(:last-child) {
        margin-bottom: 1.638vw;
      }
    }

    &:nth-child(1) &__text {
      padding-left: 0;
    }
  }

  .information-hide {
    gap: 4vw;
    padding-top: 4vw;

    &__text {
      font-size: 4.8vw;
      line-height: 5.333vw;
    }

    &__btn {
      width: 8.533vw;
      height: 8.533vw;
      &::after {
        width: 3.379vw;
        height: 0.187vw;
      }

      &::before {
        width: 3.379vw;
        height: 0.187vw;
      }
    }
  }

  .about-hero {
    padding-top: 23vw;

    &__container {
      border-radius: 5.333vw;

      &::after {
        height: 80%;
      }
    }

    &__content {
      gap: 3.2vw;
      padding: 0 5vw 13vh;
    }

    &__title {
      font-size: 18.667vw;
      line-height: 16vw;
    }

    &__subtitle {
      font-size: 6.51vw;
      line-height: 9.6vw;
    }

    &__text {
      font-size: 4.427vw;
      line-height: 6.4vw;
    }
  }

  .description {
    &__container {
      gap: 8vw;
      border-radius: 5.333vw;
    }
  }

  .about-company {
    border-radius: 5.333vw;
    flex-direction: column;

    &:first-child &__image {
      display: none;
    }

    &:last-child &__image {
      display: none;
    }

    &__content {
      width: 100%;
      padding: 13.333vw 4.533vw;
    }

    &__title {
      font-size: 13.333vw;
      line-height: 10.667vw;
      margin-bottom: 3.2vw;
    }

    &__text {
      font-size: 3.733vw;
      line-height: 5.867vw;

      &:not(:last-of-type) {
        margin-bottom: 1vw;
      }
    }

    &__image {
      width: 100%;
      height: 82.667vw;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__bottom {
      margin-left: 30vw;
      margin-top: 6.667vw;
      gap: 5.333vw;

      .about-company__text {
        font-size: 3.733vw;
        line-height: 5.867vw;
      }
    }

    &__btn {
      height: 11.2vw;
      font-size: 4.267vw;
      line-height: 5.333vw;
    }

    &__bg {
      left: -32vw;
      bottom: -10vw;
      width: 60vw;
      height: 62vw;
    }
  }

  .contacts {
    padding-top: 23vw;
    &__container {
      border-radius: 5.333vw;
    }

    .breadcrumbs {
      .breadcrumbs__item-main {
        display: none;
      }

      .breadcrumbs__item-back {
        display: block;
        svg {
          transform: rotate(90deg);
        }
      }

      .breadcrumbs__link {
        display: flex;
        align-items: center;
        gap: 1.5vw;
        font-size: 3.733vw;
        line-height: 4.8vw;
        svg {
          width: 3vw;
          height: 3.6vw;
          fill: var(--test-black);
        }
      }
    }

    &__title {
      font-size: 11.2vw;
      line-height: 8vw;
      margin-bottom: 9.333vw;
    }

    &__content {
      padding: 8.267vw 4.267vw;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      gap: 6.933vw;
    }
  }

  .contacts-item {
    gap: 2.667vw;
    &__title {
      font-size: 8.533vw;
      line-height: 6.667vw;
    }

    &__link {
      gap: 10px;
      font-size: 4.267vw;
      line-height: 6.4vw;
      svg {
        width: 4.8vw;
        height: 4.8vw;
      }
    }
  }

  .contacts-map {
    height: 138.933vw;
    img {
      object-position: 35%;
    }
  }
}
