.products {
  overflow: hidden;
  height: 100%;
  &__container {
    background-color: var(--light-color);
    border-radius: 1.042vw;
  }

  &__wrapper {
    position: relative;
    display: flex;

    height: 100%;
    padding: 5vw 0 2vw;
    overflow: hidden;
    transition: all 1s ease-in;
    overflow: hidden;
  }
}

.add {
  transform: translateX(-200%);
}

//products-descr
.products-descr {
  position: relative;
  display: flex;
  padding-left: 3vw;
  transition: all 0.7s ease-in;

  &__images {
    position: absolute;
    top: -12vw;
    left: 3vw;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.7vw;
    position: relative;
    top: 100%;
    padding-top: 0;
    padding-bottom: 4vw;
    padding-right: 5vw;
    background-color: var(--light-color);
    z-index: 5;
    border-radius: 0% 100% 0% 100% / 100% 34% 66% 0%;
  }

  &__text {
    font-size: 1.458vw;
    line-height: 2.083vw;
    span {
      font-weight: 700;
    }
  }
}

.bottle {
  display: block;
  fill: var(--light-color);
  width: 23.615vw;
  height: 60.677vw;
  transition: all 0.8s ease-out;
}

.bottle1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.bottle2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.bottle3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.bottle4 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

//add animation
@keyframes bottle2 {
  to {
    transform: rotate(13deg);
    top: 2vw;
    left: 3.5vw;
  }
}

@keyframes bottle3 {
  to {
    transform: rotate(22deg);
    top: 4vw;
    left: 8vw;
  }
}

@keyframes bottle4 {
  to {
    transform: rotate(30deg);
    top: 7vw;
    left: 13vw;
  }
}

.bottle-animation2 {
  animation: bottle2 0.8s ease-out both;
}

.bottle-animation3 {
  animation: bottle3 0.8s ease-out both;
}

.bottle-animation4 {
  animation: bottle4 0.8s ease-out both;
}

//products swiper
.products-swiper {
  &__slide {
    width: 35vw;
    &:first-child {
      width: 36vw !important;
      left: 7vw;
      padding-top: 3vw;
      padding-left: 9vw;
    }
  }

  &__content {
    padding-top: 9vw;
    align-items: center;
    transition: all 0.6s ease-in;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 14.635vw;
    height: 13.594vw;
    margin: 0 auto -1vw;
  }

  &__circle {
    position: relative;
    transform: translate(0);
    background-color: #f2f2f2;
    width: 14.063vw;
    height: 10.052vw;
    border-radius: 50%;
    transition: all 0.6s ease-in;
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    img {
      display: block;
      margin: 0 auto;
      transform: translateY(-3vw);
      width: auto;
      height: 12.135vw;
      object-fit: contain;
      transition: all 0.6s ease-in;
      position: relative;
      z-index: 1;
    }
  }

  &__circle-red {
    position: absolute;
    top: 0;
    left: 0;
    width: 14.063vw;
    height: 10.052vw;
    background-color: var(--main-red);
    border-radius: 50%;
    transition: all 0.6s ease-in;
    opacity: 0;
    visibility: hidden;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.146vw;
    text-align: center;
    transform: translate(15%, 15%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease-in;
  }

  &__title {
    font-family: var(--font-family-Alumni);
    font-weight: 500;
    font-size: 3.688vw;
    line-height: 3.646vw;
    color: var(--main-red);
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.121vw;
  }

  &__item {
    font-size: 1.146vw;
    line-height: 1.823vw;
  }

  .slider-btns {
    position: absolute;
    right: 3.125vw;
    bottom: 0;
  }
  .slider-prev,
  .slider-next {
    border-color: var(--text-black);
    svg {
      fill: var(--text-black);
    }
  }
}

.products-swiper__slide.swiper-slide-active .products-swiper__content {
  transform: translate(1vw, 0);
}

.products-swiper__slide.swiper-slide-active .products-swiper__bottom {
  transform: translate(0.5vw);
  opacity: 1;
  visibility: visible;
}

.products-swiper__slide.swiper-slide-active .products-swiper__wrapper img {
  width: auto;
  height: 18.25vw;
  transform: translateY(-7vw);
}

.products-swiper__slide.swiper-slide-active .products-swiper__circle {
  width: 21.25vw;
  height: 15.156vw;
  transform: translate(1vw, -2vw);
  background-color: #e2b9c5;
}

.products-swiper__slide.swiper-slide-active .products-swiper__circle-red {
  width: 21.25vw;
  height: 15.156vw;
  top: -0.5vw;
  left: -0.3vw;
  opacity: 1;
  visibility: visible;
}
