.single {
  padding-top: 6vw;
  &__container {
  }

  .breadcrumbs {
    margin: 0;
    margin-bottom: 1.302vw;
    z-index: 1;
    .breadcrumbs__item::after {
      background-color: var(--text-black);
    }
    .breadcrumbs__link {
      color: var(--text-black);
      svg {
        width: 0.7vw;
        height: 0.7vw;
        path {
          fill: var(--text-black);
        }
      }
    }
  }
}

//menu
.menu {
  margin-bottom: 1.302vw;
  background: #ffffff;
  border-radius: 0.521vw;
  padding: 0vw 1.042vw;
  overflow: visible;
  position: relative;
  z-index: 3;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10vw;
    width: 10vw;
    height: 100%;
    background-color: #f2f2f2;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10vw;
    width: 10vw;
    height: 100%;
    background-color: #f2f2f2;
    z-index: 2;
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 2.604vw;
  }

  &__item {
    width: auto;
    position: relative;
    padding: 0.7vw 0;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: calc(-2.604vw / 2);
      transform: translateY(-50%);
      width: 0.052vw;
      height: 1.823vw;
      background: #d9d9d9;
      pointer-events: none;
    }
    &:last-child::after {
      display: none;
    }

    &:last-child {
      padding-right: 5vw;
    }
  }

  &__link {
    font-family: var(--font-family-Alumni);
    font-weight: 500;
    font-size: 1.563vw;
    line-height: 1.823vw;
    transition: all 0.25s ease-out;
    position: relative;
    border-radius: 0.521vw;
    padding: 0.44vw 1vw;
    transition: all 0.25s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      display: none;
      transform: rotate(180deg);
      width: 0.521vw;
      height: 0.521vw;
      fill: var(--text-black);
    }
  }

  @include for-desktop {
    &__item:hover &__link {
      background: #f2f2f2;
    }
  }
}

.sub-menu {
  display: none;
  position: absolute;
  top: 2.5vw;
  left: -0.5vw;
  padding: 1.5vw 0 0 0;
  min-width: 30vw;
  z-index: 1;
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.042vw;
    grid-row-gap: 1.042vw;
    padding: 1.563vw 1.042vw;
    background: #ffffff;
    border-radius: 0vw 0vw 0.521vw 0.521vw;
    box-shadow: 0px 48px 57px rgba(25, 1, 52, 0.12);
  }

  &__item {
    width: fit-content;
  }

  &__link {
    font-size: 1.25vw;
    font-weight: 300;
    line-height: 1.771vw;
    transition: all 0.25s ease-out;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--text-black);
      transition: all 0.3s ease-out;
      opacity: 0;
      visibility: hidden;
    }
  }
}

@include for-desktop {
  .menu__list > .menu__item:hover .sub-menu {
    display: block;
    animation-name: fade;
    animation-duration: 0.3s;
  }

  .sub-menu__list > .sub-menu__item:hover .sub-menu__link::after {
    opacity: 1;
    visibility: visible;
  }
}

.sub-menu--active {
  display: block;
  animation-name: fade;
  animation-duration: 0.3s;
}

.menu-link--active {
  background: #a12b4e !important;
  color: var(--light-color) !important;
}

.sub-menu--active--click {
  display: block;
  animation-name: fade;
  animation-duration: 0.3s;
}

//short-descr
.short-descr {
  display: flex;
  background: #ffffff;
  border-radius: 1.042vw;
  margin-bottom: 2.604vw;
  overflow: hidden;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 46.771vw;
    background-color: #e1e1e1;
    img {
      height: 28.646vw;
      width: auto;
    }
  }

  &__content {
    padding: 3.125vw 5.1vw 3.6vw 7.4vw;
    height: 100%;
  }

  &__title {
    font-family: var(--font-family-Alumni);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 3.646vw;
    line-height: 4.167vw;
    margin-bottom: 1.667vw;
  }

  .product-subtitle {
    margin-bottom: 1.146vw;
  }

  &__subtitle {
    font-family: var(--font-family-Alumni);
    font-weight: 500;
    font-size: 2.188vw;
    line-height: 2.604vw;
    margin-bottom: 0.6vw;
  }

  &__text {
    font-weight: 300;
    font-size: 1.25vw;
    line-height: 1.771vw;
    margin-bottom: 1.4vw;
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 1.563vw;
  }
}

.catalog-content {
  &__download {
    display: flex;
    align-items: center;
    gap: 0.521vw;
    svg {
      fill: var(--main-red);
      width: 0.625vw;
      height: 0.833vw;
    }

    a {
      font-weight: 400;
      font-size: 1.042vw;
      line-height: 1.354vw;
      border-bottom: 1px dashed #a12b4e6d;
    }
  }
}

//information
.information {
  background: #ffffff;
  border-radius: 1.042vw;
  padding: 2.396vw 3.385vw 1.3vw;
}
.information-title {
  font-family: var(--font-family-Alumni);
  font-weight: 500;
  font-size: 3.646vw;
  line-height: 4.167vw;
  margin-bottom: 2.292vw;
}

.information-wrapper {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 1.198vw 0vw 2.2vw;
}

.information-content {
  width: 55.2vw;
  display: flex;
  flex-direction: column;
  gap: 2.3vw;
}
.information-item {
  display: flex;
  flex-direction: column;
  gap: 0.7vw;
}
.info-product {
  transition: all 0.2s ease-out;
  &__title {
    font-family: var(--font-family-Alumni);
    font-weight: 500;
    font-size: 2.604vw;
    line-height: 2.604vw;
  }

  &__text,
  &__subtitle {
    font-weight: 300;
    font-size: 1.563vw;
    line-height: 2.083vw;
  }

  &__text {
    padding-left: 2.4vw;
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: 0.8vw;
    }
  }

  &:nth-child(1) &__text {
    padding-left: 0;
  }
}

.information-hide {
  display: flex;
  align-items: center;
  gap: 1.042vw;
  margin: 0 auto;
  padding-top: 1.5vw;

  &__text {
    font-size: 0.938vw;
    line-height: 1.042vw;
  }

  &__btn {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    border: 1px solid var(--text-black);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.99vw;
      height: 0.052vw;
      background-color: var(--text-black);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      width: 0.99vw;
      height: 0.052vw;
      background-color: var(--text-black);
      transition: transform 0.2s ease-out;
    }
  }
}

.product-instruction {
  display: none;
  transition: all 0.2s ease-out;
}

.show-instruction {
  display: block;
  animation-name: fade;
  animation-duration: 0.3s;
}

.btnInstructionRotate {
  &::before {
    transform: translate(-50%, -50%) rotate(0deg);
    transition: all 0.2s ease-out;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
