<section class="about main-offset">
  <div class="container about__container">
    <picture>
      <source srcset="img/about-img.webp" type="image/webp" />
      <img
        loading="lazy"
        src="img/about-img.png"
        class="image about-image"
        alt="About image"
      />
    </picture>
    <div class="about-descr">
      <h2 class="page-title">О компании</h2>
      <ul class="about-descr__list list-reset">
        <li class="about-descr__item about-item">
          <div class="about-item__icon">
            <svg>
              <use xlink:href="img/sprite.svg#about1"></use>
            </svg>
          </div>
          <p class="about-item__text">
            <span>25 лет</span> опыта только проверенные решения для Вашего Вина
          </p>
        </li>
        <li class="about-descr__item about-item">
          <div class="about-item__icon">
            <svg>
              <use xlink:href="img/sprite.svg#about2"></use>
            </svg>
          </div>
          <p class="about-item__text">
            Работа со склада в <span>Тбилиси </span>с НДС или на прямом
            контракте
          </p>
        </li>
        <li class="about-descr__item about-item">
          <div class="about-item__icon">
            <svg>
              <use xlink:href="img/sprite.svg#about3"></use>
            </svg>
          </div>
          <p class="about-item__text">
            Лидеры Рынка РФ теперь в <span>Грузии</span>
          </p>
        </li>
        <li class="about-descr__item about-item">
          <div class="about-item__icon">
            <svg>
              <use xlink:href="img/sprite.svg#about4"></use>
            </svg>
          </div>
          <p class="about-item__text">
            Пробка без ТСА с <span>Гарантией</span> и дешевле конкурентов
          </p>
        </li>
      </ul>
      <a href="#" class="about-descr__btn btn-primary btn-reset">Подробнее</a>
    </div>
  </div>
</section>
