<div class="accordion">
  <svg class="accordion__close">
    <use xlink:href="img/sprite.svg#close"></use>
  </svg>
  <div class="accordion__wrapper">
    <div class="accordion__items">
      <div class="accordion__item">
        <div class="accordion__header">
          <h3 class="accordion__header-title">
            Укупорка
            <span class="visually-hidden">Укупорка</span>
          </h3>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
        </div>

        <div class="accordion__body">
          <div class="accordion__body-content">
            <a href="single-page.html" class="accordion__body-item"
              >Корковая Пробкак</a
            >
            <a href="#" class="accordion__body-item">Винтовой колпак</a>
            <a href="#" class="accordion__body-item"
              >Кронен пробка для классического шампанского</a
            >
            <a href="single-page.html" class="accordion__body-item">Мюзле</a>
            <a href="#" class="accordion__body-item"
              >Дубовые Системы для Б/У бочек</a
            >
            <a href="#" class="accordion__body-item"
              >Силиконовые пробки для бочек</a
            >
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <div class="accordion__header">
          <h3 class="accordion__header-title">
            Бекмес
            <span class="visually-hidden">Бекмес</span>
          </h3>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
        </div>

        <div class="accordion__body">
          <div class="accordion__body-content">
            <a href="#" class="accordion__body-item">Белый Бекмес</a>
            <a href="#" class="accordion__body-item">Красный Бекмес</a>
            <a href="#" class="accordion__body-item">Деионизат Бекмес</a>
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <div class="accordion__header">
          <h3 class="accordion__header-title">
            Выдержка вин и коньяков
            <span class="visually-hidden">Выдержка вин и коньяков</span>
          </h3>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
        </div>

        <div class="accordion__body">
          <div class="accordion__body-content">
            <a href="#" class="accordion__body-item">Бочки</a>
            <a href="#" class="accordion__body-item">Б/У бочки</a>
            <a href="#" class="accordion__body-item">Дубовые Чипсы</a>
            <a href="#" class="accordion__body-item">Дубовые Кубики</a>
            <a href="#" class="accordion__body-item">Дубовые Системы</a>
            <a href="#" class="accordion__body-item">Стойки для бочек</a>
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <div class="accordion__header">
          <h3 class="accordion__header-title">
            Буты
            <span class="visually-hidden">Буты</span>
          </h3>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
        </div>

        <div class="accordion__body">
          <div class="accordion__body-content">
            <a href="#" class="accordion__body-item">Буты</a>
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <div class="accordion__header">
          <h3 class="accordion__header-title">
            Клети
            <span class="visually-hidden">Клети</span>
          </h3>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
        </div>

        <div class="accordion__body">
          <div class="accordion__body-content">
            <a href="#" class="accordion__body-item">Клети сетчатые</a>
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <div class="accordion__header">
          <h3 class="accordion__header-title">
            Дрожжи и Продукты для виноделия
            <span class="visually-hidden">Дрожжи и Продукты для виноделия</span>
          </h3>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
        </div>

        <div class="accordion__body">
          <div class="accordion__body-content">
            <a href="#" class="accordion__body-item">Бентонит Top Gran+</a>
            <a href="#" class="accordion__body-item">Уголь</a>
            <a href="#" class="accordion__body-item">ПВПП</a>
            <a href="#" class="accordion__body-item">Таблетки FLOR STOP</a>
            <a href="#" class="accordion__body-item">Энзимы</a>
            <a href="#" class="accordion__body-item">Дрожжи</a>
            <a href="#" class="accordion__body-item">Питание</a>
            <a href="#" class="accordion__body-item">Танины</a>
            <a href="#" class="accordion__body-item">Гуммиарабик</a>
            <a href="#" class="accordion__body-item">BATTKILL (замена SO2)</a>
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <div class="accordion__header">
          <h3 class="accordion__header-title">
            Оборудование для виноделия
            <span class="visually-hidden">Оборудование для виноделия</span>
          </h3>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
        </div>

        <div class="accordion__body">
          <div class="accordion__body-content">
            <a href="#" class="accordion__body-item">Жиропаллета</a>
            <a href="#" class="accordion__body-item">Линия розлива</a>
            <a href="#" class="accordion__body-item">Бочкомойка</a>
            <a href="#" class="accordion__body-item">Микро-оксигенаторы</a>
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <div class="accordion__header">
          <h3 class="accordion__header-title">
            Сувенирная Продукция
            <span class="visually-hidden">Сувенирная Продукция</span>
          </h3>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
        </div>

        <div class="accordion__body">
          <div class="accordion__body-content">
            <a href="#" class="accordion__body-item">Мебель</a>
            <a href="#" class="accordion__body-item"
              >Мебель из корковой пробки</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
