<section class="contacts main-offset">
  <div class="container contacts__container">
    <div class="contacts__content">
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list list-reset">
          <li class="breadcrumbs__item-back">
            <a
              href="index.html"
              class="breadcrumbs__link breadcrumbs__link-back"
            >
              <svg>
                <use xlink:href="img/sprite.svg#back"></use>
              </svg>
              Back
            </a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item-main">
            <a href="index.html" class="breadcrumbs__link">
              <svg
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 7L2.33333 5.66667M2.33333 5.66667L7 1L11.6667 5.66667M2.33333 5.66667V12.3333C2.33333 12.7015 2.63181 13 3 13H5M11.6667 5.66667L13 7M11.6667 5.66667V12.3333C11.6667 12.7015 11.3682 13 11 13H9M5 13C5.36819 13 5.66667 12.7015 5.66667 12.3333V9.66667C5.66667 9.29848 5.96514 9 6.33333 9H7.66667C8.03486 9 8.33333 9.29848 8.33333 9.66667V12.3333C8.33333 12.7015 8.63181 13 9 13M5 13H9"
                  stroke="#2C2C2C"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item-main">
            <a
              href="products-page.html"
              class="breadcrumbs__link breadcrumbs__link--active"
              >Контакты</a
            >
          </li>
        </ul>
      </div>
      <h1 class="contacts__title">КОНТАКТЫ</h1>
      <div class="contacts__inner">
        <div class="contacts-item">
          <h4 class="contacts-item__title">Адрес</h4>
          <h5 class="contacts-item__link address">
            <svg>
              <use xlink:href="img/sprite.svg#map"></use>
            </svg>
            Улица 3, Тбилиси
          </h5>
        </div>

        <div class="contacts-item">
          <h4 class="contacts-item__title">Телефон</h4>
          <a href="tel:+995511163109" class="contacts-item__link phone">
            <svg>
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            +995 511 163 109
          </a>
        </div>

        <div class="contacts-item">
          <h4 class="contacts-item__title">E-mail</h4>
          <a href="mailto:vt@enocork.ge" class="contacts-item__link mail">
            <svg>
              <use xlink:href="img/sprite.svg#mail"></use>
            </svg>
            vt@enocork.ge
          </a>
        </div>

        <div class="contacts-item">
          <h4 class="contacts-item__title">Соцсети</h4>
          <a href="#" class="contacts-item__link social-media">
            <svg>
              <use xlink:href="img/sprite.svg#insta-contacts"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <a href="#" class="contacts-map">
      <picture>
        <source srcset="img/contacts.webp" type="image/webp" />
        <img loading="lazy" src="img/contacts.png" class="image" alt="Map" />
      </picture>
    </a>
  </div>
</section>
