<section class="description main-offset">
  <div class="container description__container">
    <div class="description-item about-company">
      <div class="about-company__content">
        <h4 class="about-company__title">продукты компании</h4>
        <p class="about-company__text">
          Долгое время Группа работала с Грузией только на прямых контрактах, но
          с конца 2022 года мы открыли склад в Тбилиси и теперь можем отгружать
          товар из наличия. <br />
          На заказ возим практически любой продукт или оборудование.
        </p>
      </div>
      <div class="about-company__image">
        <picture>
          <source srcset="img/about-descr3.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/about-descr3.png"
            class="image"
            alt="Image"
          />
        </picture>
      </div>
    </div>

    <div class="description-item about-company">
      <div class="about-company__image">
        <picture>
          <source srcset="img/about-descr1.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/about-descr1.png"
            class="image"
            alt="Image"
          />
        </picture>
      </div>
      <div class="about-company__content">
        <h4 class="about-company__title">Основное направление</h4>
        <p class="about-company__text">
          <span>Основная специализация</span> фирмы — корковая пробка для тихих
          и игристых вин, коньяков и бренди.
        </p>
      </div>
    </div>

    <div class="description-item about-company">
      <div class="about-company__content about-company__content--bg">
        <h4 class="about-company__title">НАШИ ПРОДУКТЫ</h4>
        <p class="about-company__text">
          <span>Портфель продуктов</span> нашей компании включает:
        </p>
        <p class="about-company__text">
          корковые пробки для вина, шампанского и коньяка, дубовые бочки - новые
          и Б/У, бекмес (концентрированный сок белый, красный и
          деионизированный), дубовые продукты для выдержки вин и коньяков
          (бочки, буты,щепа, клепка, кубики, системы), контейнеры для выдержки
          вина (клети), дрожжи и продукты для виноделия,воск и многое другое.
        </p>
        <div class="about-company__bottom">
          <p class="about-company__text">
            На заказ возим практически любой <span>продукт</span> или
            <span>оборудование</span>.
          </p>
          <a href="#" class="about-company__btn btn-primary btn-reset">
            Перейти в каталог
          </a>
        </div>
        <div class="about-company__bg">
          <img
            loading="lazy"
            src="img/about-company-bg.png"
            class="image"
            alt="Image"
          />
        </div>
      </div>
      <div class="about-company__image">
        <picture>
          <source srcset="img/about-descr2.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/about-descr2.png"
            class="image"
            alt="Image"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
