<section class="feedback main-offset">
  <div class="container feedback__container">
    <div class="feedback__wrapper">
      <div class="modal-content feedback-content">
        <div class="modal-content__form feedback-content__form">
          <h3 class="modal-content__title feedback-content__title">
            Нужна консультация?
          </h3>
          <p class="modal-content__text feedback-content__text">
            Оставьте заявку, мы <span>быстро перезвоним</span> и ответим на все
            вопросы
          </p>
          <form class="form">
            <label class="form__label">
              <input
                type="text"
                name="Имя"
                class="input-reset form__input form__input--user"
                placeholder="Ваше Имя"
              />
            </label>
            <label class="form__label">
              <input
                type="tel"
                name="Телефон"
                class="input-reset form__input form__input--phone"
                placeholder="Ваш Телефон"
              />
            </label>
            <button class="btn-reset btn-primary form__btn">
              Заказать звонок
            </button>
          </form>
          <p class="form__text">
            Нажимая кнопку “Заказать звонок” Вы даете согласие на обработку
            ваших персональных данных
          </p>
        </div>
      </div>
    </div>

    <div class="barrel__decoration">
      <div class="barrel__decoration-images">
        <div class="barrel-decor barrel-decor1">
          <picture>
            <source srcset="img/feedback1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/feedback1.png"
              class="image"
              alt="Barrel"
            />
          </picture>
        </div>
        <div class="barrel-decor barrel-decor2">
          <picture>
            <source srcset="img/feedback2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/feedback2.png"
              class="image"
              alt="Barrel"
            />
          </picture>
        </div>
      </div>
      <div class="barrel__decoration-shadows">
        <div class="barrel-decor__shadow barrel-decor__shadow1"></div>
        <div class="barrel-decor__shadow barrel-decor__shadow2"></div>
      </div>
    </div>
  </div>
</section>
