<header class="header fix-block">
  <div class="container header__container">
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="index.html" class="nav__link">Главная</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Каталог</a>
        </li>
        <li class="nav__item">
          <a href="about-page.html" class="nav__link">О компании</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Контакты</a>
        </li>
      </ul>
    </nav>
    <a href="index.html" class="header__logo">
      <picture>
        <source srcset="img/logo.webp" type="image/webp" />
        <img loading="lazy" src="img/logo.png" class="image" alt="Logo" />
      </picture>
    </a>
    <a
      href="#"
      class="header__btn btn-primary btn-reset"
      data-graph-path="modal-consultation"
      data-graph-animation="fadeInUp"
    >
      Обратный звонок
    </a>
    <div class="header__lang lang">
      <svg>
        <use xlink:href="img/sprite.svg#lang"></use>
      </svg>
      <span>EN</span>
    </div>
  </div>
</header>
