<section class="hero main-offset">
  <div class="container hero__container">
    <div class="swiper hero-swiper">
      <div class="swiper-wrapper hero-wrapper">
        <div class="swiper-slide hero-slide">
          <div class="hero-bg">
            <picture>
              <source srcset="img/hero-bg1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/hero-bg1.png"
                class="image"
                alt="Background"
              />
            </picture>
          </div>
          <div class="hero-content">
            <div class="hero-content__wrapper">
              <div class="hero-content__text">
                <h1 class="hero__title">Дубовые бочки</h1>
                <h4 class="hero__subtitle">RADOUX</h4>
              </div>
              <p class="hero__text">Настоящее Французское качество</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero-slide">
          <div class="hero-bg">
            <picture>
              <source srcset="img/hero-bg2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/hero-bg2.png"
                class="image"
                alt="Background"
              />
            </picture>
          </div>
          <div class="hero-content">
            <div class="hero-content__wrapper">
              <div class="hero-content__text">
                <h1 class="hero__title">Пробка для Чачи</h1>
              </div>
              <p class="hero__text">Простая или Декор</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero-slide">
          <div class="hero-bg">
            <picture>
              <source srcset="img/hero-bg3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/hero-bg3.png"
                class="image"
                alt="Background"
              />
            </picture>
          </div>
          <div class="hero-content">
            <div class="hero-content__wrapper">
              <div class="hero-content__text">
                <h1 class="hero__title">Пробка для вина</h1>
              </div>
              <p class="hero__text">Пробка без ТСА из Португалии</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero-slide">
          <div class="hero-bg">
            <picture>
              <source srcset="img/hero-bg4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/hero-bg1.png"
                class="image"
                alt="Background"
              />
            </picture>
          </div>
          <div class="hero-content">
            <div class="hero-content__wrapper">
              <div class="hero-content__text">
                <h1 class="hero__title">Дубовая Клепка</h1>
              </div>
              <p class="hero__text">Премиальная клепка Pronektar из Франции</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero-slide">
          <div class="hero-bg">
            <picture>
              <source srcset="img/hero-bg5.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/hero-bg5.png"
                class="image"
                alt="Background"
              />
            </picture>
          </div>
          <div class="hero-content">
            <div class="hero-content__wrapper">
              <div class="hero-content__text">
                <h1 class="hero__title">Дубовая Щепа</h1>
              </div>
              <p class="hero__text">Премиальная щепа Pronektar из Франции</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero-slide">
          <div class="hero-bg">
            <picture>
              <source srcset="img/hero-bg6.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/hero-bg6.png"
                class="image"
                alt="Background"
              />
            </picture>
          </div>
          <div class="hero-content">
            <div class="hero-content__wrapper">
              <div class="hero-content__text">
                <h1 class="hero__title">Оборудование для произвоства</h1>
              </div>
              <p class="hero__text">Франция</p>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-btns">
        <div class="slider-prev hero-prev">
          <svg>
            <use xlink:href="img/sprite.svg#left"></use>
          </svg>
        </div>
        <div class="slider-next hero-next">
          <svg>
            <use xlink:href="img/sprite.svg#right"></use>
          </svg>
        </div>
      </div>

      <div class="hero-swiper__pagination">
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
