<section class="instagram main-offset">
  <div class="container instagram__container">
    <div class="swiper insta-swiper">
      <h2 class="page-title insta-swiper__title">Мы в Instagram</h2>
      <div class="swiper-wrapper insta-swiper__wrapper">
        <div class="swiper-slide insta-swiper__slide">
          <picture>
            <source srcset="img/modal-consultation.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/modal-consultion.png"
              class="image"
              alt="Image"
            />
          </picture>
        </div>

        <div class="swiper-slide insta-swiper__slide">
          <picture>
            <source srcset="img/modal-consultation.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/modal-consultion.png"
              class="image"
              alt="Image"
            />
          </picture>
        </div>

        <div class="swiper-slide insta-swiper__slide">
          <picture>
            <source srcset="img/modal-consultation.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/modal-consultion.png"
              class="image"
              alt="Image"
            />
          </picture>
        </div>
      </div>
      <p class="insta-swiper__text">
        Там ты можешь узнать для себя много <span>полезной информации</span> по
        теме, узнать первым о новых поступлениях и акциях.
      </p>
      <div class="insta-swiper__bottom">
        <div class="insta-link">
          <svg>
            <use xlink:href="img/sprite.svg#insta"></use>
          </svg>
          <h4 class="insta-link__title">eno.cork</h4>
        </div>
        <div class="slider-btns">
          <div class="slider-prev insta-prev">
            <svg>
              <use xlink:href="img/sprite.svg#left"></use>
            </svg>
          </div>
          <div class="slider-next insta-next">
            <svg>
              <use xlink:href="img/sprite.svg#right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
