<section class="partners main-offset">
  <div class="container partners__container">
    <div class="partners-block__descr">
      <h2 class="partners-block__title page-title">Все для виноделия</h2>
      <p class="partners-block__text">
        <span>ООО «Юникорк»</span> более 25 лет является поставщиком
        комплектующих для производителей алкогольной и безалкогольной продукции.
      </p>
      <div class="partners-block__animation">
        <div class="partners-block__animation-image">
          <svg>
            <use xlink:href="img/sprite.svg#barrel"></use>
          </svg>
        </div>
        <div class="partners-block__animation-text">
          <p>
            Нашими партнерами являются ведущие <span>зарубежными фирмы</span> -
            производители Португалии, Франции, Испании, Италии, Аргентины, Чили,
            Китая и других стран.
          </p>
          <a href="about-page.html" class="btn-primary btn-reset">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="partners-block__red">
      <div class="partners-block__red-image">
        <picture>
          <source srcset="img/partners2.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/partners2.png"
            class="image"
            alt="Cork"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
