<section class="products main-offset">
  <div class="container products__container">
    <div class="products-descr">
      <div class="products-descr__images">
        <svg class="bottle bottle1">
          <use xlink:href="img/sprite.svg#bottle"></use>
        </svg>

        <svg class="bottle bottle2">
          <use xlink:href="img/sprite.svg#bottle"></use>
        </svg>

        <svg class="bottle bottle3">
          <use xlink:href="img/sprite.svg#bottle"></use>
        </svg>

        <svg class="bottle bottle4">
          <use xlink:href="img/sprite.svg#bottle"></use>
        </svg>
      </div>

      <div class="products-descr__content">
        <h2 class="page-title products-descr__title">Наша продукция</h2>
        <p class="products-descr__text">
          С полным ассортиментом продукции можно ознакомиться
          <span>в нашем каталоге</span>
        </p>
      </div>
    </div>
    <div class="swiper products-swiper">
      <div class="swiper-wrapper products-swiper__wrapper">
        <div class="swiper-slide products-swiper__slide">
          <div class="products-swiper__content content-swiper">
            <div class="content-swiper__inner">
              <div class="content-swiper__circle">
                <img
                  loading="lazy"
                  src="img/our-products1.png"
                  class="image product-img"
                  alt="Product"
                />
                <div class="content-swiper__circle-red"></div>
              </div>
              <div class="content-swiper__descr">
                <h4 class="content-swiper__title">
                  Продукты для выдержки вин и коньяков
                </h4>
                <ul class="content-swiper__list list-reset">
                  <li class="content-swiper__item">Буты</li>
                  <li class="content-swiper__item">Бочки</li>
                  <li class="content-swiper__item">Дубовая щепа</li>
                </ul>
                <button class="content-swiper__btn btn-primary btn-reset">
                  Перейти в каталог
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide products-swiper__slide">
          <div class="products-swiper__content content-swiper">
            <div class="content-swiper__inner">
              <div class="content-swiper__circle">
                <div class="content-swiper__circle-gray">
                  <img
                    loading="lazy"
                    src="img/our-products2.png"
                    class="image product-img"
                    alt="Product"
                  />
                </div>
                <div class="content-swiper__circle-red"></div>
              </div>
              <div class="content-swiper__descr">
                <h4 class="content-swiper__title">Укупорка</h4>
                <ul class="content-swiper__list list-reset">
                  <li class="content-swiper__item">Колпачки</li>
                  <li class="content-swiper__item">Корковая пробка</li>
                  <li class="content-swiper__item">Мюзле</li>
                </ul>
                <button class="content-swiper__btn btn-primary btn-reset">
                  Перейти в каталог
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide products-swiper__slide">
          <div class="products-swiper__content content-swiper">
            <div class="content-swiper__inner">
              <div class="content-swiper__circle">
                <div class="content-swiper__circle-gray">
                  <img
                    loading="lazy"
                    src="img/our-products3.png"
                    class="image product-img"
                    alt="Product"
                  />
                </div>
                <div class="content-swiper__circle-red"></div>
              </div>
              <div class="content-swiper__descr">
                <h4 class="content-swiper__title">Воск для укупорки</h4>
                <button class="content-swiper__btn btn-primary btn-reset">
                  Перейти в каталог
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide products-swiper__slide">
          <div class="products-swiper__content content-swiper">
            <div class="content-swiper__inner">
              <div class="content-swiper__circle">
                <div class="content-swiper__circle-gray">
                  <img
                    loading="lazy"
                    src="img/our-products4.png"
                    class="image product-img"
                    alt="Product"
                  />
                </div>
                <div class="content-swiper__circle-red"></div>
              </div>
              <div class="content-swiper__descr">
                <h4 class="content-swiper__title">
                  Оборудование для виноделия
                </h4>
                <ul class="content-swiper__list list-reset">
                  <li class="content-swiper__item">Жиропаллета</li>
                  <li class="content-swiper__item">Линия розлива</li>
                  <li class="content-swiper__item">Бочкоймойка</li>
                </ul>
                <button class="content-swiper__btn btn-primary btn-reset">
                  Перейти в каталог
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide products-swiper__slide">
          <div class="products-swiper__content content-swiper">
            <div class="content-swiper__inner">
              <div class="content-swiper__circle">
                <div class="content-swiper__circle-gray">
                  <img
                    loading="lazy"
                    src="img/our-products2.png"
                    class="image product-img"
                    alt="Product"
                  />
                </div>
                <div class="content-swiper__circle-red"></div>
              </div>
              <div class="content-swiper__descr">
                <h4 class="content-swiper__title">Укупорка</h4>
                <ul class="content-swiper__list list-reset">
                  <li class="content-swiper__item">Колпачки</li>
                  <li class="content-swiper__item">Корковая пробка</li>
                  <li class="content-swiper__item">Мюзле</li>
                </ul>
                <button class="content-swiper__btn btn-primary btn-reset">
                  Перейти в каталог
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide products-swiper__slide">
          <div class="products-swiper__content content-swiper">
            <div class="content-swiper__inner">
              <div class="content-swiper__circle">
                <div class="content-swiper__circle-gray">
                  <img
                    loading="lazy"
                    src="img/our-products2.png"
                    class="image product-img"
                    alt="Product"
                  />
                </div>
                <div class="content-swiper__circle-red"></div>
              </div>
              <div class="content-swiper__descr">
                <h4 class="content-swiper__title">Укупорка</h4>
                <ul class="content-swiper__list list-reset">
                  <li class="content-swiper__item">Колпачки</li>
                  <li class="content-swiper__item">Корковая пробка</li>
                  <li class="content-swiper__item">Мюзле</li>
                </ul>
                <button class="content-swiper__btn btn-primary btn-reset">
                  Перейти в каталог
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide products-swiper__slide">
          <div class="products-swiper__content content-swiper">
            <div class="content-swiper__inner">
              <div class="content-swiper__circle">
                <div class="content-swiper__circle-gray">
                  <img
                    loading="lazy"
                    src="img/our-products2.png"
                    class="image product-img"
                    alt="Product"
                  />
                </div>
                <div class="content-swiper__circle-red"></div>
              </div>
              <div class="content-swiper__descr">
                <h4 class="content-swiper__title">Укупорка</h4>
                <ul class="content-swiper__list list-reset">
                  <li class="content-swiper__item">Колпачки</li>
                  <li class="content-swiper__item">Корковая пробка</li>
                  <li class="content-swiper__item">Мюзле</li>
                </ul>
                <button class="content-swiper__btn btn-primary btn-reset">
                  Перейти в каталог
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-btns">
        <div class="slider-prev">
          <svg>
            <use xlink:href="img/sprite.svg#left"></use>
          </svg>
        </div>
        <div class="slider-next">
          <svg>
            <use xlink:href="img/sprite.svg#right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
