<aside class="social fix-block">
  <div class="social__wrapper">
    <ul class="social__list list-reset">
      <a
        href="#"
        target="_blank"
        class="social__link social__link--phone"
        aria-label="Наш телефон"
      >
        <div class="social__icon">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
        </div>
        <span class="social__title">Заказать звонок</span>
      </a>

      <li class="social__item">
        <a
          href="#"
          target="_blank"
          class="social__link social__link--mail"
          aria-label="Наша почта"
        >
          <div class="social__icon">
            <svg>
              <use xlink:href="img/sprite.svg#mail"></use>
            </svg>
          </div>
          <span class="social__title">Напишите нам</span>
        </a>
      </li>
      <li class="social__item">
        <a
          href="#"
          target="_blank"
          class="social__link social__link--whatsapp"
          aria-label="Мы в Whatsapp"
        >
          <div class="social__icon">
            <svg>
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </div>
          <span class="social__title">Whatsapp</span>
        </a>
      </li>
      <li class="social__item">
        <a
          href="#"
          target="_blank"
          class="social__link social__link--telegram"
          aria-label="Мы в Telegram"
        >
          <div class="social__icon">
            <svg>
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </div>
          <span class="social__title">Telegram</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
