// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family-Helvetica: "HelveticaNeue", sans-serif;
  --font-family-Alumni: "AlumniSans", sans-serif;

  // colors
  --bg-color: #e5e5e5;
  --light-color: #ffffff;
  --text-black: #2c2c2c;
  --main-red: #a12b4e;
}
